<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>应用管理</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" th:href="@{{path}/AdminLTE2410/bower_components/bootstrap/dist/css/bootstrap.min.css(path=${static_server},v=${static_res_version})}">
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css" th:href="@{{path}/AdminLTE2410/bower_components/font-awesome/css/font-awesome.min.css(path=${static_server},v=${static_res_version})}">
  <link rel="stylesheet" href="bower_components/Ionicons/css/ionicons.min.css" th:href="@{{path}/AdminLTE2410/bower_components/Ionicons/css/ionicons.min.css(path=${static_server},v=${static_res_version})}">
  <link rel="stylesheet" href="dist/css/AdminLTE.min.css" th:href="@{{path}/AdminLTE2410/dist/css/AdminLTE.min.css(path=${static_server},v=${static_res_version})}">
  <link rel="stylesheet" href="dist/css/index.css" th:href="@{{path}/AdminLTE2410/dist/css/index.css(path=${static_server},v=${static_res_version})}">
  <link rel="stylesheet" href="plugins/iCheck/all.css" th:href="@{{path}/AdminLTE2410/plugins/iCheck/all.css(path=${static_server},v=${static_res_version})}">
  <link rel="stylesheet" href="plugins/iCheck/square/blue.css" th:href="@{{path}/AdminLTE2410/plugins/iCheck/square/blue.css(path=${static_server},v=${static_res_version})}">
  <link rel="stylesheet" href="bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" th:href="@{{path}/AdminLTE2410/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css(path=${static_server},v=${static_res_version})}">
  <link rel="stylesheet" href="dist/css/skins/_all-skins.min.css" th:href="@{{path}/AdminLTE2410/dist/css/skins/_all-skins.min.css(path=${static_server},v=${static_res_version})}">
  <link rel="stylesheet" href="plugins/ztree/css/metroStyle/metroStyle.css" th:href="@{{path}/AdminLTE2410/plugins/ztree/css/metroStyle/metroStyle.css(path=${static_server},v=${static_res_version})}" type="text/css">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic" th:href="@{{path}/AdminLTE2410/bower_components/fonts.googleapis/fonts.css(path=${static_server},v=${static_res_version})}">
</head>
<body class="hold-transition skin-blue sidebar-mini">
	<div class="box box-outline box-info">
		<div class="box-header with-border">
			<h3 class="box-title">应用信息编辑</h3>
		</div>
		<div class="box-body">

			<div class="nav-tabs-custom">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#app_base" data-toggle="tab" aria-expanded="true">基本信息</a></li>
					<li class=""><a href="#app_interface" data-toggle="tab" aria-expanded="false">安全设置</a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="app_base">
						<form id="f_app_base" class="form-horizontal" method="post" action="/Application/save" th:action="@{/Application/save}">
							<input type="hidden" id="id" name="id" th:value="${id}" /> 
							<input type="hidden" id="uuid" name="uuid" th:value="${uuid}" />
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label for="name" class="col-sm-4 control-label">应用名称</label>
										<div class="col-sm-8">
											<input type="text" class="form-control validate[required,maxSize[32]]" name="name" id="name" placeholder="请输入应用名称...">
										</div>
									</div>
								</div>
								<div th:if="${id == null }" class="col-md-6">
									<div class="form-group">
										<label for="code" class="col-sm-4 control-label">编号(AppKey)</label>
										<div class="col-sm-8">
											<input type="text" class="form-control validate[required,maxSize[32]]" name="code" id="code" placeholder="请输入应用编号...">
										</div>
									</div>
								</div>
								<div th:if="${id != null }" class="col-md-6">
									<div class="form-group">
										<label for="code" class="col-sm-4 control-label">编号(AppKey)</label>
										<div class="col-sm-8">
											<input type="text" class="form-control" name="code" id="code" readonly>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div th:if="${id == null }" class="col-md-6">
									<div class="form-group">
										<label for="type" class="col-sm-4 control-label">类型</label>
										<div class="col-sm-8">
											<select name="type" id="type" class="form-control">
												<option value="0">内部</option>
												<option value="1">外部</option>
											</select>
										</div>
									</div>
								</div>
								<div th:if="${id != null }" class="col-md-6">
									<div class="form-group">
										<label for="type" class="col-sm-4 control-label">类型</label>
										<div class="col-sm-8">
											<select name="type" id="type" class="form-control">
												<option value="0">内部</option>
												<option value="1">外部</option>
											</select>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="ico" class="col-sm-4 control-label">图标</label>
										<div class="col-sm-8">
											<input type="text" class="form-control validate[maxSize[127]]" name="ico" id="ico" placeholder="请输入应用字体图标...">
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label for="status" class="col-sm-4 control-label">状态*</label>
										<div class="col-sm-8">
											<select name="status" id="status" class="form-control">
												<option value="0">正常</option>
												<option value="1">禁用</option>
											</select>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="sort" class="col-sm-4 control-label">排序号</label>
										<div class="col-sm-8">
											<input type="text" class="form-control validate[maxSize[5]]" name="sort" id="sort" value="1" placeholder="请输入应用编号...">
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<label for="remark" class="col-sm-2 control-label">备注</label>
										<div class="col-sm-10">
											<textarea class="form-control validate[maxSize[255]]" rows="3" id="remark" name="remark" placeholder="请输入应用备注说明..."></textarea>
										</div>
									</div>
								</div>
							</div>

						</form>
					</div>
					<div class="tab-pane" id="app_interface">
						<form id="f_app_interface" class="form-horizontal" method="post" action="/Application/saveInter" th:action="@{/Application/saveInter}">
							<input type="hidden" id="id" name="id" th:value="${id}"/>
							<input type="hidden" id="uuid" name="uuid" th:value="${uuid}"/>
							<div class="row">
								<div th:if="${id == null }" class="col-md-6">
									<div class="form-group">
										<label for="code" class="col-sm-4 control-label">编号(AppKey)</label>
										<div class="col-sm-8">
											<input type="text" class="form-control validate[required,maxSize[32]]" name="appKey" id="appKey" placeholder="请输入应用编号...">
										</div>
									</div>
								</div>
								<div th:if="${id != null }" class="col-md-6">
									<div class="form-group">
										<label for="code" class="col-sm-4 control-label">编号(AppKey)</label>
										<div class="col-sm-8">
											<input type="text" class="form-control" name="appKey" id="appKey" readonly>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="sort" class="col-sm-4 control-label">接口超时(秒)*</label>
										<div class="col-sm-8">
											<input type="text" class="form-control validate[required,maxSize[3]]" name="timeout" id="timeout" value="10" placeholder="请输入接口超时时间(秒)...">
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label for="ico" class="col-sm-4 control-label">签名算法*</label>
										<div class="col-sm-8">
											<select name="signatureAlg" id="signatureAlg" class="form-control validate[required]">
						                      <option value="SHA1">SHA1</option>
						                      <option value="MD5">MD5</option>
						                    </select>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="status" class="col-sm-4 control-label">签名密钥*</label>
										<div class="col-sm-8">
											<input type="text" class="form-control validate[required,maxSize[32]]" name="signatureKey" id="signatureKey" placeholder="请输入签名密钥...">
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label for="status" class="col-sm-4 control-label">加密算法</label>
										<div class="col-sm-8">
											<select name="messageEncAlg" id="messageEncAlg" class="form-control">
						                      <option value="">不需要数据加密</option>
						                      <option value="AES">AES</option>
						                    </select>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="sort" class="col-sm-4 control-label">加密密钥</label>
										<div class="col-sm-8">
											<input type="text" class="form-control validate[condRequired[messageEncAlg]]" name="messageEncKey" id="messageEncKey" placeholder="请输入加密密钥...">
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<label for="sort" class="col-sm-2 control-label">应用白名单*</label>
										<div class="col-sm-10">
											<input type="text" class="form-control validate[required,maxSize[255]]" id="host" name="host" placeholder="请输入应用IP或域名白名单...">
										</div>
									</div>
								</div>
							</div>
			
						</form>
					</div>
				</div>
			</div>
			
		</div>
		<div class="box-footer">
			<button id="btn_app_cancel" type="button" class="btn btn-default pull-right" style="margin:0px 10px;">取消</button>
			<button id="btn_app_save" type="button" class="btn btn-primary pull-right" data-res="sys_app-manage_add || sys_app-manage_edit">保存</button>
		</div>
	</div>

<script th:replace="page/base/global :: jsVar"></script>
<script src="bower_components/jquery/dist/jquery.min.js" th:src="@{{path}/AdminLTE2410/bower_components/jquery/dist/jquery.min.js(path=${static_server},v=${static_res_version})}"></script>
<script src="bower_components/jquery-ui/jquery-ui.min.js" th:src="@{{path}/AdminLTE2410/bower_components/jquery-ui/jquery-ui.min.js(path=${static_server},v=${static_res_version})}"></script>
<script>
	$.widget.bridge('uibutton', $.ui.button);
</script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js" th:src="@{{path}/AdminLTE2410/bower_components/bootstrap/dist/js/bootstrap.min.js(path=${static_server},v=${static_res_version})}"></script>
<script src="bower_components/jquery-slimscroll/jquery.slimscroll.min.js" th:src="@{{path}/AdminLTE2410/bower_components/jquery-slimscroll/jquery.slimscroll.min.js(path=${static_server},v=${static_res_version})}"></script>
<script src="bower_components/fastclick/lib/fastclick.js" th:src="@{{path}/AdminLTE2410/bower_components/fastclick/lib/fastclick.js(path=${static_server},v=${static_res_version})}"></script>
<script src="dist/js/adminlte.min.js" th:src="@{{path}/AdminLTE2410/dist/js/adminlte.min.js(path=${static_server},v=${static_res_version})}"></script>
<script src="dist/js/demo.js" th:src="@{{path}/AdminLTE2410/dist/js/demo.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../lac/json2.js" th:src="@{{path}/lac/json2.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../lac/utils.js" th:src="@{{path}/lac/utils.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../lac/encryption/md5.js" th:src="@{{path}/lac/encryption/md5.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../lac/lac2.js" th:src="@{{path}/lac/lac2.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../lac/lac2Tab.js" th:src="@{{path}/lac/lac2Tab.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../lac/lac2Menu.js" th:src="@{{path}/lac/lac2Menu.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../lac/lac2FieldTree.js" th:src="@{{path}/lac/lac2FieldTree.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../lac/lac2DataTables.js" th:src="@{{path}/lac/lac2DataTables.js(path=${static_server},v=${static_res_version})}"></script>
<script src="plugins/iCheck/icheck.min.js" th:src="@{{path}/AdminLTE2410/plugins/iCheck/icheck.min.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../lac/lac2Dialog.js" th:src="@{{path}/lac/lac2Dialog.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../AdminLTE2410/plugins/ztree/js/jquery.ztree.all.min.js" th:src="@{{path}/AdminLTE2410/plugins/ztree/js/jquery.ztree.all.min.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../AdminLTE2410/plugins/jqueryValidationEngine-2.6.4/languages/jquery.validationEngine-zh_CN.js" th:src="@{{path}/AdminLTE2410/plugins/jqueryValidationEngine-2.6.4/languages/jquery.validationEngine-zh_CN.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../AdminLTE2410/plugins/jqueryValidationEngine-2.6.4/jquery.validationEngine-2.6.4.js" th:src="@{{path}/AdminLTE2410/plugins/jqueryValidationEngine-2.6.4/jquery.validationEngine-2.6.4.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../AdminLTE2410/plugins/jqueryValidationEngine-2.6.4/validateHelper.js" th:src="@{{path}/AdminLTE2410/plugins/jqueryValidationEngine-2.6.4/validateHelper.js(path=${static_server},v=${static_res_version})}"></script>
<script type="text/javascript">
	$(function() {
		$("#f_app_base").initLacForm(ctx + "/Application/get?id=" + $("#id").val() + "&uuid=" + $("#uuid").val(), function(data){
			if($("#id").val() && $("#id").val()!=""){
				$("#type").attr("disabled","disabled");
			}
			$("#appKey").val(data.code);
			$("#host").val(data.host);
			$("#timeout").val(data.timeout);
			$("#messageEncAlg").val(data.messageEncAlg);
			$("#messageEncKey").val(data.messageEncKey);
			$("#signatureAlg").val(data.signatureAlg);
			$("#signatureKey").val(data.signatureKey);
			$("#btn_app_save").permissionEnabled();
		});

		$("#btn_app_cancel").click(function() {
			LacTab.closeThisTab();
		});
		
		$("#btn_app_save").click(function() {
			//$('#f_app_addedit').saveClose();
			if($("#app_base").hasClass("active")){
				$('#f_app_base').saveClose();
			} else if($("#app_interface").hasClass("active")){
				$('#f_app_interface').saveClose();
			}
		});
		
		$("#f_app_base").validationEngine("attach", { notShowPrompt : true }).bindValidationEngineHelper();
		$("#f_app_interface").validationEngine("attach", { notShowPrompt : true }).bindValidationEngineHelper();
	});
</script>
</body>
</html>