<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>系统配置</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" th:href="@{{path}/AdminLTE3/font-awesome/4.4.0/css/font-awesome.min.css(path=${static_server},v=${static_res_version})}">
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" th:href="@{{path}/AdminLTE3/ionicons/2.0.1/css/ionicons.min.css(path=${static_server},v=${static_res_version})}">
<link rel="stylesheet" href="../../AdminLTE3/css/adminlte.min.css" th:href="@{{path}/AdminLTE3/css/adminlte.min.css(path=${static_server},v=${static_res_version})}">
<link href="../../AdminLTE3/css/index.css" th:href="@{{path}/AdminLTE3/css/index.css(path=${static_server},v=${static_res_version})}" rel="stylesheet">
<link href="https://fonts.proxy.ustclug.org/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet" th:href="@{{path}/AdminLTE3/googleapis-fonts/fonts.css(path=${static_server},v=${static_res_version})}">
<link href="bootstrap-switch.css" rel="stylesheet" th:href="@{{path}/plugins/bootstrap-switch-3.3.4/css/bootstrap3/bootstrap-switch.min.css(path=${static_server},v=${static_res_version})}">
<link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css" th:href="@{{path}/plugins/ztree/css/metroStyle/metroStyle.css(path=${static_server},v=${static_res_version})}" type="text/css">
<link rel="stylesheet" href="../../plugins/iCheck/all.css" th:href="@{{path}/plugins/iCheck/all.css(path=${static_server},v=${static_res_version})}">
</head>
<body class="hold-transition">
	<section class="find-tools">
		<div class="searchBox">
			<div class="pull-left">
				<i class="fa fa-th-large"></i>&nbsp;系统配置
			</div>
		</div>
	</section>
	
	<div class="card card-outline card-info" style="margin-top:5px;">
		<div class="card-body">
			<form id="f_config" class="form-horizontal" method="post" action="/SelfSystem/save" th:action="@{/SelfSystem/save}">
				<input type="hidden" id="id" name="id" th:value="${id}"/>
				<input type="hidden" id="uuid" name="uuid" th:value="${uuid}"/>
				<div class="row">
					<div class="col-md-6 col-sm-12">
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text">根区域</span>
							</div>
							<input type="text" class="form-control" name="areaName" id="areaName" th:value="${sc.rootAreaName}" readonly> 
							<input type="hidden" id="rootAreaId" name="rootAreaId" th:value="${sc.rootAreaId}"/>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 col-sm-12">
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text">组织权限</span>
							</div>
							<div class="switch" >
							    <input id="enableOrgPerm" name="enableOrgPerm" type="checkbox" data-size="large" data-on-text="启用" data-off-text="禁用"  th:checked="${ sc.enableOrgPerm=='on' }" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 col-sm-12">
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text">区域权限</span>
							</div>
							<div class="switch" >
							    <input id="enableAreaPerm" name="enableAreaPerm" type="checkbox" data-size="large" data-on-text="启用" data-off-text="禁用"  th:checked="${ sc.enableAreaPerm=='on' }"/>
							</div>
						</div>
					</div>
				</div>

			</form>
		</div>
		<!-- /.card-body -->
		<div class="card-footer">
			<button id="btn-config-save" type="button" class="btn btn-info" data-res="selfkh_system_config">保存系统配置</button>
		</div>
	</div>
	<script th:replace="page/base/global :: jsVar"></script>
	<script src="../../plugins/jquery/jquery.min.js" th:src="@{{path}/plugins/jquery/jquery.min.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../plugins/jQueryUI/jquery-ui.min.js" th:src="@{{path}/plugins/jQueryUI/jquery-ui.min.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../plugins/jqueryForm-4.2.2/jquery.form.min.js" th:src="@{{path}/plugins/jqueryForm-4.2.2/jquery.form.min.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js" th:src="@{{path}/plugins/bootstrap/js/bootstrap.bundle.min.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../plugins/jqueryValidationEngine-2.6.4/languages/jquery.validationEngine-zh_CN.js" th:src="@{{path}/plugins/jqueryValidationEngine-2.6.4/languages/jquery.validationEngine-zh_CN.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../plugins/jqueryValidationEngine-2.6.4/jquery.validationEngine-2.6.4.js" th:src="@{{path}/plugins/jqueryValidationEngine-2.6.4/jquery.validationEngine-2.6.4.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../plugins/jqueryValidationEngine-2.6.4/validateHelper.js" th:src="@{{path}/plugins/jqueryValidationEngine-2.6.4/validateHelper.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../AdminLTE3/js/adminlte.min.js" th:src="@{{path}/AdminLTE3/js/adminlte.min.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../lac/json2.js" th:src="@{{path}/lac/json2.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../lac/utils.js" th:src="@{{path}/lac/utils.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../lac/lac2Tab.js" th:src="@{{path}/lac/lac2Tab.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../lac/lac2.js" th:src="@{{path}/lac/lac2.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../lac/lac2Dialog.js" th:src="@{{path}/lac/lac2Dialog.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../lac/lac2FieldTree.js" th:src="@{{path}/lac/lac2FieldTree.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../plugins/ztree/js/jquery.ztree.all.min.js" th:src="@{{path}/plugins/ztree/js/jquery.ztree.all.min.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../plugins/iCheck/icheck.min.js" th:src="@{{path}/plugins/iCheck/icheck.min.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="bootstrap-switch.js" th:src="@{{path}/plugins/bootstrap-switch-3.3.4/js/bootstrap-switch.min.js(path=${static_server},v=${static_res_version})}"></script>
	<script type="text/javascript">
		$(function() {
			if(!$("#id") ||  $("#id")==""){
				$("#areaName").lac2FieldTree({
					setting : {
						callback : {
							onClick : function(event, treeId, treeNode, clickFlag) {
								$("#rootAreaId").val(treeNode.id);
								$("#areaName").val(treeNode.name);
							}
						}
					},
					url : ctx + "/area/loadFullTree",
					expandAll : false,
					cacheEnabled : true
				});
			}
			
			$('input[type="checkbox"]').bootstrapSwitch();
			
			$("#f_config").validationEngine("attach", { notShowPrompt : true }).bindValidationEngineHelper();
	
			$("#btn-config-save").click(function() {
				$('#f_config').saveClose();
			});
	
		});
	</script>
</body>
</html>