<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>客户单位管理</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" th:href="@{{path}/AdminLTE2410/bower_components/bootstrap/dist/css/bootstrap.min.css(path=${static_server},v=${static_res_version})}">
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css" th:href="@{{path}/AdminLTE2410/bower_components/font-awesome/css/font-awesome.min.css(path=${static_server},v=${static_res_version})}">
  <link rel="stylesheet" href="bower_components/Ionicons/css/ionicons.min.css" th:href="@{{path}/AdminLTE2410/bower_components/Ionicons/css/ionicons.min.css(path=${static_server},v=${static_res_version})}">
  <link rel="stylesheet" href="plugins/iCheck/square/blue.css" th:href="@{{path}/AdminLTE2410/plugins/iCheck/square/blue.css(path=${static_server},v=${static_res_version})}">
  <link rel="stylesheet" href="bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" th:href="@{{path}/AdminLTE2410/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css(path=${static_server},v=${static_res_version})}">
  <link rel="stylesheet" href="dist/css/AdminLTE.min.css" th:href="@{{path}/AdminLTE2410/dist/css/AdminLTE.min.css(path=${static_server},v=${static_res_version})}">
  <link rel="stylesheet" href="dist/css/index.css" th:href="@{{path}/AdminLTE2410/dist/css/index.css(path=${static_server},v=${static_res_version})}">
  <link rel="stylesheet" href="dist/css/skins/_all-skins.min.css" th:href="@{{path}/AdminLTE2410/dist/css/skins/_all-skins.min.css(path=${static_server},v=${static_res_version})}">
  <link href="plugins/ztree/css/zTreeStyle/zTreeStyle.css" th:href="@{{path}/AdminLTE2410/plugins/ztree/css/zTreeStyle/zTreeStyle.css(path=${static_server},v=${static_res_version})}" rel="stylesheet">
  <link href="plugins/ztree/css/metroStyle/metroStyle.css" th:href="@{{path}/AdminLTE2410/plugins/ztree/css/metroStyle/metroStyle.css(path=${static_server},v=${static_res_version})}" rel="stylesheet">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic" th:href="@{{path}/AdminLTE2410/bower_components/fonts.googleapis/fonts.css(path=${static_server},v=${static_res_version})}">
</head>
<body class="hold-transition skin-blue sidebar-mini">
	<section class="find-tools">
      <div class="searchBox">
        <div class="pull-left"><i class="fa fa-th-large"></i>&nbsp;单位管理</div>
        <div class="pull-right">
          <ul>
            <li><button class="btn-permed btn-customer_qy-add btn btn-block btn-primary btn-sm" data-res="customer_qy-manage_add"><i class="fa fa-plus"></i>&nbsp;新增单位</button></li>
            <li><button class="btn-superSearch btn btn-block btn-default btn-sm"><i class="fa fa-search-plus"></i></button></li>
            <li><button class="btn_customer_qy_search btn btn-block btn-default btn-sm"><i class="fa fa-search"></i></button></li>
             <li>
            	<form id="f_customer_qy_search" class="form-inline">
            		<input type="text" id="name" name="name" oper="cn" stype="S" class="form-control form-search" placeholder="名称快速查询">
            	</form>
            </li>
          </ul>
        </div>
      </div>

		<div class="superSearch">
			<form id="f_customer_qy_search_s" class="form-inline">
				<div class="form-group">
					<label class="control-label">单位名称：</label>
					<div class="control-inline">
						<input type="text" id="name" name="name" oper="cn" stype="S" class="form-control form-search" placeholder="单位名称">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">电话：</label>
					<div class="control-inline">
						<input type="text" id="phone" name="phone" oper="cn" stype="S" class="form-control form-search" placeholder="单位电话">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">状态：</label>
					<div class="control-inline">
						<select class="form-control form-search" id="status" name="status" oper="eq" stype="I">
							<option value="">全部</option>
							<option value="0">启用状态</option>
							<option value="1">禁用状态</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<button type="button" class="btn btn-primary btn-sm btn_customer_qy_search_s">查询</button>
					<button type="reset" class="btn btn-default btn-sm">重置</button>
				</div>
			</form>
		</div>
	</section>

	<section class="content">
		<table id="dt_customer_qy" class="table table-bordered table-striped" style="width:100%">
			<thead>
				<tr>
					<th>单位名称</th>
					<th>所在区域</th>
					<th>电话</th>
					<th>地址</th>
					<th>状态</th>
					<th>操作</th>
					<th>ID</th>
				</tr>
			</thead>
		</table>
	</section>

<script th:replace="page/base/global :: jsVar"></script>
<script src="bower_components/jquery/dist/jquery.min.js" th:src="@{{path}/AdminLTE2410/bower_components/jquery/dist/jquery.min.js(path=${static_server},v=${static_res_version})}"></script>
<script src="bower_components/jquery-ui/jquery-ui.min.js" th:src="@{{path}/AdminLTE2410/bower_components/jquery-ui/jquery-ui.min.js(path=${static_server},v=${static_res_version})}"></script>
<script>
  $.widget.bridge('uibutton', $.ui.button);
</script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js" th:src="@{{path}/AdminLTE2410/bower_components/bootstrap/dist/js/bootstrap.min.js(path=${static_server},v=${static_res_version})}"></script>
<script src="bower_components/jquery-slimscroll/jquery.slimscroll.min.js" th:src="@{{path}/AdminLTE2410/bower_components/jquery-slimscroll/jquery.slimscroll.min.js(path=${static_server},v=${static_res_version})}"></script>
<script src="bower_components/fastclick/lib/fastclick.js" th:src="@{{path}/AdminLTE2410/bower_components/fastclick/lib/fastclick.js(path=${static_server},v=${static_res_version})}"></script>
<script src="dist/js/adminlte.min.js" th:src="@{{path}/AdminLTE2410/dist/js/adminlte.min.js(path=${static_server},v=${static_res_version})}"></script>
<script src="dist/js/demo.js" th:src="@{{path}/AdminLTE2410/dist/js/demo.js(path=${static_server},v=${static_res_version})}"></script>
<script src="plugins/iCheck/icheck.min.js" th:src="@{{path}/AdminLTE2410/plugins/iCheck/icheck.min.js(path=${static_server},v=${static_res_version})}"></script>
<script src="bower_components/datatables.net/js/jquery.dataTables.min.js" th:src="@{{path}/AdminLTE2410/bower_components/datatables.net/js/jquery.dataTables.min.js(path=${static_server},v=${static_res_version})}"></script>
<script src="bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js" th:src="@{{path}/AdminLTE2410/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../AdminLTE2410/plugins/ztree/js/jquery.ztree.all.min.js" th:src="@{{path}/AdminLTE2410/plugins/ztree/js/jquery.ztree.all.min.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../lac/json2.js" th:src="@{{path}/lac/json2.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../lac/utils.js" th:src="@{{path}/lac/utils.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../lac/lac2.js" th:src="@{{path}/lac/lac2.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../lac/lac2Tab.js" th:src="@{{path}/lac/lac2Tab.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../lac/lac2Menu.js" th:src="@{{path}/lac/lac2Menu.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../lac/lac2FieldTree.js" th:src="@{{path}/lac/lac2FieldTree.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../lac/lac2Dialog.js" th:src="@{{path}/lac/lac2Dialog.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../lac/lac2DataTables.js" th:src="@{{path}/lac/lac2DataTables.js(path=${static_server},v=${static_res_version})}"></script>
<script>
	var dtable4Customer, curRow4Customer;

	$(function() {
		initDataTable4Customer();
		bindEvents4DataTable4Customer();
	});

	function bindEvents4DataTable4Customer() {
		/* 快速查询 */
		$(".btn_customer_qy_search").on("click", function() {
			$('.btn-superSearch').removeClass('active');
			$('.superSearch').css('display','none');
			$("#f_customer_qy_search").search4DataTable(dtable4Customer);
		});
		
		$(".btn_customer_qy_search_s").on("click", function() {
			$("#f_customer_qy_search_s").search4DataTable(dtable4Customer);
		});
		
		$('.btn-superSearch').on('click',function(){
			$('.btn_customer_qy_search').removeClass('active');
		        $(this).toggleClass('active');
		        if($(this).hasClass('active')){
		        	$("#f_customer_qy_search").hide();
		        	$(".btn_customer_qy_search").hide();
		        }else{
		        	$("#f_customer_qy_search").show();
		        	$(".btn_customer_qy_search").show();
		        }
		        $(this).parents('.find-tools').find('.superSearch').slideToggle('fast');
		    });

		$(".btn-customer_qy-add").on("click", function() {		
			LAC.addRow4DataTable(dtable4Customer, ctx + '/KhCompany/add', 'KhCompany', '新增单位');
		});

		$('#dt_customer_qy tbody').on('click', 'button.btn-customer_qy-edit', function(event) {
			var tr = $(this).parents('tr');
			var td0 = tr.children("td:first");
			curRow4Customer = dtable4Customer.row(tr);
			LAC.editCurRow4DataTable(curRow4Customer, ctx + '/KhCompany/edit', 'KhCompany', '编辑单位', td0);
		});
		
		$('#dt_customer_qy tbody').on('click', 'button.btn-customer_qy-apps', function(event) {
			curRow4Customer = dtable4Customer.row($(this).parents('tr'));
			var r = curRow4Customer.data();
			LacTab.addTab({
				id : "customer_qy_apps",
				title : '应用开通管理',
				url : ctx + '/Application/list4KhCompany?id=' + r.id + "&uuid=" + r.uuid
			});
		});

		$('#dt_customer_qy tbody').on('click', 'button.btn-customer_qy-del', function(event) {
			curRow4Customer = dtable4Customer.row($(this).parents('tr'));
			LAC.changeStatus4DataTable(1,dtable4Customer, curRow4Customer, ctx + '/KhCompany/changeStatus',"您确定要注销此单位吗？");
		});

	}

	function initDataTable4Customer() {
		dtable4Customer = $('#dt_customer_qy').LacDTable(
						{
							order : [ [ 7, "desc" ] ],
							url : ctx + "/KhCompany/page",
							autoSequence : true,
							columns : [
									{
										"data" : "name",
										"width" : "200px",
										"render" : function(data, type, row) {
											if (row.parentId != null && row.parentId > 0) {
												return data + ' <span class="badge bg-green">子</span>';
											} else {
												return data;
											}
										}
									}, {
										"data" : "areaName",
										"orderable" : false,
										"width" : "150px"
									}, {
										"data" : "phone",
										"width" : "70px"
									}, {
										"data" : "address",
										"orderable" : false,
										"defaultContent" : ""
									}, {
										"data" : "status",
										"width" : "40px",
										"render" : function(data, type, row) {
											if (data == 0) {
												return '<span class="badge bg-green">正常</span>';
											} else if (data == 1) {
												return '<span class="badge bg-yellow">停用</span>';
											} else {
												return "";
											}
										}
									}, {
										"data" : null,
										"defaultContent" : "",
										"width" : "100px",
										"orderable" : false,
										"searchable" : false,
										"sClass" : "text-center",
										"render" : function(data, type, row) {
											var ret = '<button class="btn-permed btn-customer_qy-edit icon-btn" data-res="customer_qy-manage_edit" title="单位编辑"><i class="fa fa-pencil text-green"></i></button>&nbsp;';
											ret += '<button class="btn-permed btn-customer_qy-apps icon-btn" data-res="customer_qy_apps" title="应用开通"><i class="fa fa-th text-green"></i></button> '
											if(row.status != 1){
												ret += '<button class="btn-permed btn-customer_qy-del icon-btn" data-res="customer_qy-manage_del" title="单位注销"><i class="fa fa-ban text-red"></i></button>';
											}
											return ret;
										}
									}, {
										"data" : "id",
										"visible" : false
									} ],
					
							initComplete : function(setting, json) {
								$(".btn-permed").permissionEnabled();
							},
							drawCallback : function(setting) {
								$(".btn-permed").permissionEnabled();
							}
						});

	}
</script>
</body>
</html>
