<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>角色管理</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" th:href="@{{path}/AdminLTE3/font-awesome/4.4.0/css/font-awesome.min.css(path=${static_server},v=${static_res_version})}">
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" th:href="@{{path}/AdminLTE3/ionicons/2.0.1/css/ionicons.min.css(path=${static_server},v=${static_res_version})}">
<link rel="stylesheet" href="../../AdminLTE3/css/adminlte.min.css" th:href="@{{path}/AdminLTE3/css/adminlte.min.css(path=${static_server},v=${static_res_version})}">
<link href="../../AdminLTE3/css/index.css" th:href="@{{path}/AdminLTE3/css/index.css(path=${static_server},v=${static_res_version})}" rel="stylesheet">
<link href="https://fonts.proxy.ustclug.org/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet" th:href="@{{path}/AdminLTE3/googleapis-fonts/fonts.css(path=${static_server},v=${static_res_version})}">
</head>
<body class="hold-transition">
	<div class="card card-outline card-info" style="margin-top:5px;">
		<div class="card-header">
			<h3 class="card-title">角色基本信息</h3>

			<div class="card-tools">
				<button type="button" class="btn btn-tool" data-widget="collapse">
					<i class="fa fa-minus"></i>
				</button>
			</div>
			<!-- /.card-tools -->
		</div>
		<!-- /.card-header -->
		<div class="card-body">
			<form id="f_role_addedit" class="form-horizontal" method="post" action="/SelfKhRole/save" th:action="@{/SelfKhRole/save}">
				<input type="hidden" id="id" name="id" th:value="${id}"/>
				<input type="hidden" id="uuid" name="uuid" th:value="${uuid}"/>
				<div class="row">
					<div class="col-md-6">
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text">角色名称</span>
							</div>
							<input type="text" class="form-control validate[required,maxSize[32]]" name="name" id="name" placeholder="请输入角色名称...">
						</div>
					</div>
					<div th:if="${id == null }" class="col-md-6">
						<div class="input-group mb-3">
							<div class="input-group-prepend pull-right">
								<span class="input-group-text">编号</span>
							</div>
							<input type="text" class="form-control validate[required,maxSize[32]]" name="govCode" id="govCode" placeholder="请输入角色编号...">
						</div>
					</div>
					<div th:if="${id != null }" class="col-md-6">
						<div class="input-group mb-3">
							<div class="input-group-prepend pull-right">
								<span class="input-group-text">编号</span>
							</div>
							<input type="text" class="form-control" name="govCode" id="govCode" readonly>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text">状态</span>
							</div>
							<select name="status" id="status" class="form-control">
		                      <option value="0">正常</option>
		                      <option value="1">禁用</option>
		                    </select>
						</div>
					</div>
					<div class="col-md-6">
						<div class="input-group mb-3">
							<div class="input-group-prepend pull-right">
								<span class="input-group-text">排序号</span>
							</div>
							<input type="text" class="form-control validate[maxSize[5]]" name="sort" id="sort" value="1" placeholder="请输入角色编号...">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text">备注</span>
							</div>
							<textarea class="form-control validate[maxSize[255]]" rows="3" id="remark" name="remark" placeholder="请输入角色备注说明..."></textarea>
						</div>
					</div>
				</div>

			</form>
		</div>
		<!-- /.card-body -->
		<div class="card-footer">
			<button id="btn_role_cancel" type="button" class="btn btn-default float-right" style="margin:0px 10px;">取消</button>
			<button id="btn_role_save" type="button" class="btn btn-info float-right" data-res="selfkh_role_perm-role_add || selfkh_role_perm-role_edit">保存</button>
		</div>
	</div>
	<script th:replace="page/base/global :: jsVar"></script>
	<script src="../../plugins/jquery/jquery.min.js" th:src="@{{path}/plugins/jquery/jquery.min.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../plugins/jQueryUI/jquery-ui.min.js" th:src="@{{path}/plugins/jQueryUI/jquery-ui.min.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../plugins/jqueryForm-4.2.2/jquery.form.min.js" th:src="@{{path}/plugins/jqueryForm-4.2.2/jquery.form.min.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js" th:src="@{{path}/plugins/bootstrap/js/bootstrap.bundle.min.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../plugins/jqueryValidationEngine-2.6.4/languages/jquery.validationEngine-zh_CN.js" th:src="@{{path}/plugins/jqueryValidationEngine-2.6.4/languages/jquery.validationEngine-zh_CN.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../plugins/jqueryValidationEngine-2.6.4/jquery.validationEngine-2.6.4.js" th:src="@{{path}/plugins/jqueryValidationEngine-2.6.4/jquery.validationEngine-2.6.4.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../plugins/jqueryValidationEngine-2.6.4/validateHelper.js" th:src="@{{path}/plugins/jqueryValidationEngine-2.6.4/validateHelper.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../AdminLTE3/js/adminlte.min.js" th:src="@{{path}/AdminLTE3/js/adminlte.min.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../lac/json2.js" th:src="@{{path}/lac/json2.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../lac/utils.js" th:src="@{{path}/lac/utils.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../lac/lac2Tab.js" th:src="@{{path}/lac/lac2Tab.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../lac/lac2.js" th:src="@{{path}/lac/lac2.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../lac/lac2Dialog.js" th:src="@{{path}/lac/lac2Dialog.js(path=${static_server},v=${static_res_version})}"></script>
	<script type="text/javascript">
		$(function() {
			$("#f_role_addedit").initLacForm(ctx + "/SelfKhRole/get?id=" + $("#id").val() + "&uuid=" + $("#uuid").val(), function(){
				$("#btn_role_save").permissionEnabled();
			});
	
	
			$("#btn_role_cancel").click(function() {
				LacTab.closeThisTab();
			});
			
			$("#btn_role_save").click(function() {
				$('#f_role_addedit').saveClose();
			});
			
			$("#f_role_addedit").validationEngine("attach", { notShowPrompt : true }).bindValidationEngineHelper();
		});
	</script>
</body>
</html>