<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>给人员分配角色</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" th:href="@{{path}/AdminLTE3/font-awesome/4.4.0/css/font-awesome.min.css(path=${static_server},v=${static_res_version})}">
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" th:href="@{{path}/AdminLTE3/ionicons/2.0.1/css/ionicons.min.css(path=${static_server},v=${static_res_version})}">
<link rel="stylesheet" href="../../plugins/datatables/dataTables.bootstrap4.css" th:href="@{{path}/plugins/datatables/dataTables.bootstrap4.css(path=${static_server},v=${static_res_version})}">
<link rel="stylesheet" href="../../AdminLTE3/css/adminlte.min.css" th:href="@{{path}/AdminLTE3/css/adminlte.min.css(path=${static_server},v=${static_res_version})}">
<link rel="stylesheet" href="../../plugins/iCheck/square/blue.css" th:href="@{{path}/plugins/iCheck/square/blue.css(path=${static_server},v=${static_res_version})}">
<link href="https://fonts.proxy.ustclug.org/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet" th:href="@{{path}/AdminLTE3/googleapis-fonts/fonts.css(path=${static_server},v=${static_res_version})}">
<link href="../../AdminLTE3/css/index.css" th:href="@{{path}/AdminLTE3/css/index.css(path=${static_server},v=${static_res_version})}" rel="stylesheet">
<style>
	.searchBox>.pull-left>ul{
		padding-left:0;
	}
	.searchBox>.pull-left>ul>li{
		height:34px;
		line-height:34px;
	}
</style>
</head>
<body class="hold-transition">
	<section class="find-tools">
      <div class="searchBox">
        <div class="pull-left">
          <ul>
            <li><i class="fa fa-th-large"></i>&nbsp;人员 [ <span th:text="${userName}"></span> ] 已分配角色列表</li>
          </ul>
        </div>
        <div class="pull-right">
          <button class="btn-role-add btn btn-block btn-info btn-sm"><i class="fa fa-plus"></i>&nbsp;添加角色</button>
        </div>
      </div>
	</section>

	<section class="content">
		<table id="dt_role" class="table table-bordered table-striped" style="width: 100%">
			<thead>
				<tr>
					<th>角色名称</th>
					<th>编码</th>
					<th>说明</th>
					<th>状态</th>
					<th>操作</th>
					<th>UUID</th>
					<th>ID</th>
				</tr>
			</thead>
		</table>
	</section>

	<script th:replace="page/base/global :: jsVar"></script>
	<script src="../../plugins/jquery/jquery.min.js" th:src="@{{path}/plugins/jquery/jquery.min.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../plugins/jQueryUI/jquery-ui.min.js" th:src="@{{path}/plugins/jQueryUI/jquery-ui.min.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../plugins/jqueryForm-4.2.2/jquery.form.min.js" th:src="@{{path}/plugins/jqueryForm-4.2.2/jquery.form.min.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js" th:src="@{{path}/plugins/bootstrap/js/bootstrap.bundle.min.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../plugins/datatables/jquery.dataTables.js" th:src="@{{path}/plugins/datatables/jquery.dataTables.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../plugins/datatables/dataTables.bootstrap4.js" th:src="@{{path}/plugins/datatables/dataTables.bootstrap4.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../plugins/iCheck/icheck.min.js" th:src="@{{path}/plugins/iCheck/icheck.min.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../lac/json2.js" th:src="@{{path}/lac/json2.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../lac/utils.js" th:src="@{{path}/lac/utils.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../lac/lac2Tab.js" th:src="@{{path}/lac/lac2Tab.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../lac/lac2.js" th:src="@{{path}/lac/lac2.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../lac/lac2DataTables.js" th:src="@{{path}/lac/lac2DataTables.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../lac/lac2Dialog.js" th:src="@{{path}/lac/lac2Dialog.js(path=${static_server},v=${static_res_version})}"></script>
<script th:inline="javascript">
	
	/*<![CDATA[*/
	var userId = /*[[${userId}]]*/ '';
	var userUuid = /*[[${userUuid}]]*/ '';
	var userName = /*[[${userName}]]*/ '';
	/*]]>*/
	
	var dtable4Role, curRow4Role;
	
	function getCnds(){
		return [{ field: "userId", data: userId, op: "eq", type: "L" },{ field: "userUuid", data: userUuid, op: "eq", type: "S" },{ field: "status", data: 0, op: "eq", type: "I" }];
	}

	$(function() {
		initDataTable4Role();
		bindEvents4DataTable4Role();
	});

	function bindEvents4DataTable4Role() {
		$(".btn-role-add").on("click", function() {		
			var dlg = LAC.showModel({
				id : "dlg_khrole_select",
				type : "common",// primary common
				sizeCss : "modal-lg",
				title : "选择用户 ["+userName+"] 要分配的角色",
				url :  ctx + "/SelfKhRole/select?multi=true",
				data : getCnds(),
				method : "post",
				callback : function(data) {
					LAC.closeModel("dlg_khrole_select");
					//dlg.modal("hide");
					if(data){
						var iduuids = {};
						for (var i = 0; i < data.length; i++) {
							var rowData = data[i];
							iduuids[rowData.uuid] = rowData.id;
						}
						LAC.ajax({
		                    url: ctx + "/SelfKhUser/addRoles?userId="+userId+"&userUuid="+userUuid,
		                    data: JSON2.stringify(iduuids),
		                    dataType: 'json',
		                    contentType: "application/json; charset=utf-8",
		                    success: function (ret) {
		                        if (ret) {
		                        	for (var i = 0; i < data.length; i++) {
		    							var rowData = data[i];
		    							dtable4Role.row.add(rowData).draw();
		    						}
		                            LAC.tip('操作成功!', 'success');
		                        }
		                    }
		                });
					}
				}
			});
		});

		$('#dt_role tbody').on('click', 'i.btn-role-del', function(event) {
			curRow4Role = dtable4Role.row($(this).parents('tr'));
			var rowData = curRow4Role.data();
			var url = ctx + "/SelfKhUser/removeRoles?userId="+userId+"&userUuid="+userUuid;
			var iduuids = {};
			iduuids[rowData.uuid] = rowData.id;
			LAC.confirmExecute(url, iduuids, function (ret) {
	            if (ret) {
	            	curRow4Role.remove().draw( false );
	            } else {
	                LAC.tip("操作执行失败！！！", "error");
	            }
	        }, "你确定要执行此操作吗？", true);
		});

	}

	function initDataTable4Role() {
		dtable4Role = $('#dt_role').LacDTable(
				{
					order : [ [ 7, "desc" ] ],
					url : ctx + "/SelfKhRole/page4User",
					autoSequence : true,
					cnds : getCnds,
					columns : [
						{
							"data" : "name",
							"width" : "160px",
							"defaultContent" : ""
						}, {
							"data" : "govCode",
							"width" : "160px",
							"defaultContent" : ""
						}, {
							"data" : "remark",
							"orderable" : false,
							"defaultContent" : ""
						}, {
							"data" : "status",
							"width" : "40px",
							"render" : function(data, type, row) {
								if (data == 0) {
									return '<span class="badge badge-success">正常</span>';
								} else if (data == 1) {
									return '<span class="badge badge-danger">停用</span>';
								} else {
									return "";
								}
							}
						},{
								"data" : null,
								"defaultContent" : "",
								"width" : "40px",
								"orderable" : false,
								"searchable" : false,
								"render" : function(data, type, row) {
									return ' &nbsp; <i class="fa fa-trash-o text-danger btn-role-del" style="cursor:pointer"></i>';
								}
							},{
								"data" : "uuid",
								"visible" : false
							}, {
								"data" : "id",
								"visible" : false
							} ]
				});

	}
</script>
</body>
</html>
