<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>给角色设置可访问应用</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" th:href="@{{path}/AdminLTE3/font-awesome/4.4.0/css/font-awesome.min.css(path=${static_server},v=${static_res_version})}">
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" th:href="@{{path}/AdminLTE3/ionicons/2.0.1/css/ionicons.min.css(path=${static_server},v=${static_res_version})}">
<link rel="stylesheet" href="../../plugins/datatables/dataTables.bootstrap4.css" th:href="@{{path}/plugins/datatables/dataTables.bootstrap4.css(path=${static_server},v=${static_res_version})}">
<link rel="stylesheet" href="../../AdminLTE3/css/adminlte.min.css" th:href="@{{path}/AdminLTE3/css/adminlte.min.css(path=${static_server},v=${static_res_version})}">
<link rel="stylesheet" href="../../plugins/iCheck/square/blue.css" th:href="@{{path}/plugins/iCheck/square/blue.css(path=${static_server},v=${static_res_version})}">
<link href="https://fonts.proxy.ustclug.org/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet" th:href="@{{path}/AdminLTE3/googleapis-fonts/fonts.css(path=${static_server},v=${static_res_version})}">
<link href="../../AdminLTE3/css/index.css" th:href="@{{path}/AdminLTE3/css/index.css(path=${static_server},v=${static_res_version})}" rel="stylesheet">
<link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css" th:href="@{{path}/plugins/ztree/css/metroStyle/metroStyle.css(path=${static_server},v=${static_res_version})}" type="text/css">
<style>
	.searchBox>.pull-left>ul{
		padding-left:0;
	}
	.searchBox>.pull-left>ul>li{
		height:34px;
		line-height:34px;
	}
</style>
</head>
<body class="hold-transition">
	<section class="find-tools">
      <div class="searchBox">
        <div class="pull-left">
          <ul>
            <li>
            	<form id="f_role_search" class="form-inline">
            		&nbsp;&nbsp;&nbsp;&nbsp;当前角色： 
            		<select class="form-control form-search" th:value="${roleId}" id="roleId" name="roleId" oper="eq" stype="I">
						<option th:each="r : ${ roles }" th:value="${r.id}" th:data-uuid="${r.uuid}" th:text="${r.name}" th:selected="${r.id == roleId}">请选择角色</option>
					</select>
				</form>
            </li>
            <li><i class="fa fa-th-large"></i>&nbsp;角色可访问应用列表</li>
          </ul>
        </div>
        <div class="pull-right">
          <button class="btn-app-add btn btn-block btn-info btn-sm"><i class="fa fa-plus"></i>&nbsp;新增许可应用</button>
        </div>
      </div>
	</section>

	<section class="content">
		<div class="row">
			<div class="col-md-6">
				<table id="dt_app" class="table table-bordered table-striped" style="width:100%">
					<thead>
						<tr>
							<th>应用名称</th>
							<th>编码</th>
							<th>状态</th>
							<th>ID</th>
						</tr>
					</thead>
				</table>
			</div>
			<div class="col-md-6">

				<div style="margin: 8px 6px 6px 0px;">
					<div class="card">
						<div class="card-header p-2">
							<ul class="nav nav-pills">
								<li class="nav-item"><a class="nav-link active" href="#perm_menu" data-toggle="tab">菜单权限</a></li>
								<li class="nav-item" th:if="${sc.enableOrgPerm=='on'}"><a class="nav-link" href="#perm_org" data-toggle="tab">组织权限</a></li>
								<li class="nav-item" th:if="${sc.enableAreaPerm=='on'}"><a class="nav-link" href="#perm_area" data-toggle="tab">区域权限</a></li>
							</ul>
						</div>
						<div class="card-body">
							<div class="tab-content">
								<div class="active tab-pane" id="perm_menu">
									<ul id="menuTree" class="ztree"></ul>
								</div>
								<div class="tab-pane" id="perm_org" th:if="${sc.enableOrgPerm=='on'}">
									<ul id="orgTree" class="ztree"></ul>
								</div>
								<div class="tab-pane" id="perm_area" th:if="${sc.enableAreaPerm=='on'}">
									<div class="row">
										<div class="col-md-12">
											<div class="input-group mb-3">
												<div class="input-group-prepend">
													<span class="input-group-text">根区域</span>
												</div>
												<input type="text" class="form-control" name="areaName" id="areaName" readonly> 
												<input type="hidden" id="rootAreaId" name="rootAreaId"/>
											</div>
										</div>
									</div>
									<ul id="areaTree" class="ztree"></ul>
								</div>
							</div>
						</div>
						<div class="card-footer">
			                <button type="button" id="btn_save_perms" class="btn btn-info">立即保存</button>
			            </div>
					</div>
				</div>

			</div>
		</div>
		
	</section>

	<script th:replace="page/base/global :: jsVar"></script>
	<script src="../../plugins/jquery/jquery.min.js" th:src="@{{path}/plugins/jquery/jquery.min.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../plugins/jQueryUI/jquery-ui.min.js" th:src="@{{path}/plugins/jQueryUI/jquery-ui.min.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../plugins/jqueryForm-4.2.2/jquery.form.min.js" th:src="@{{path}/plugins/jqueryForm-4.2.2/jquery.form.min.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js" th:src="@{{path}/plugins/bootstrap/js/bootstrap.bundle.min.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../plugins/datatables/jquery.dataTables.js" th:src="@{{path}/plugins/datatables/jquery.dataTables.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../plugins/datatables/dataTables.bootstrap4.js" th:src="@{{path}/plugins/datatables/dataTables.bootstrap4.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../plugins/iCheck/icheck.min.js" th:src="@{{path}/plugins/iCheck/icheck.min.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../lac/json2.js" th:src="@{{path}/lac/json2.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../lac/utils.js" th:src="@{{path}/lac/utils.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../lac/lac2Tab.js" th:src="@{{path}/lac/lac2Tab.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../lac/lac2.js" th:src="@{{path}/lac/lac2.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../lac/lac2DataTables.js" th:src="@{{path}/lac/lac2DataTables.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../lac/lac2Dialog.js" th:src="@{{path}/lac/lac2Dialog.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../lac/lac2FieldTree.js" th:src="@{{path}/lac/lac2FieldTree.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../plugins/ztree/js/jquery.ztree.all.min.js" th:src="@{{path}/plugins/ztree/js/jquery.ztree.all.min.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../plugins/iCheck/icheck.min.js" th:src="@{{path}/plugins/iCheck/icheck.min.js(path=${static_server},v=${static_res_version})}"></script>
<script th:inline="javascript">
	
	/*<![CDATA[*/
	var roleId = /*[[${roleId}]]*/ '';
	var roleUuid = /*[[${roleUuid}]]*/ '';
	var roleName = /*[[${roleName}]]*/ '';
	/*]]>*/
	
	var appId=0, appUuid="";
	var dtable4App, curRow4App;
	var menuLoaded = false, orgLoaded = false, areaLoaded = false;
	var setting = {
			view: {
				selectedMulti: false
			},
			check: {
				enable: true
			},
			data: {
				simpleData: {
					enable: true
				}
			}
		};
	
	function getAppCnds(){
		return [
				{ field: "roleId", data: roleId?roleId:0, op: "eq", type: "L" },
				{ field: "roleUuid", data: roleUuid?roleUuid:"", op: "eq", type: "S" },
				{ field: "roleType", data: "KhRole", op: "eq", type: "S" },
				{ field: "status", data: 0, op: "eq", type: "I" }
			];
	}
	
	function getPermCnds(){
		return [
				{ field: "roleId", data: roleId?roleId:0, op: "eq", type: "L" },
				{ field: "roleUuid", data: roleUuid?roleUuid:"", op: "eq", type: "S" },
				{ field: "roleType", data: "KhRole", op: "eq", type: "S" },
				{ field: "appId", data: appId?appId:0, op: "eq", type: "L" },
				{ field: "appUuid", data: appUuid?appUuid:"", op: "eq", type: "S" },
				{ field: "status", data: 0, op: "eq", type: "I" }
			];
	}

	$(function() {
		if(roleId==null || roleId==0 || roleUuid==null){
			var so = $("#roleId").find("option:selected");
			if(so){
				roleId = so.val();
				roleUuid = so.data("uuid");
				roleName = so.text();
			}
		}
		
		initDataTable4App();
		bindEvents();
	});

	function bindEvents() {
		
		$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
			  if(e.target.href.indexOf("#perm_menu") != -1){
				  if(!menuLoaded){
					  initMenuTree();
				  }
			  } else if(e.target.href.indexOf("#perm_org") != -1){
				  if(!orgLoaded){
					  initOrgTree();
				  }
			  } else if(e.target.href.indexOf("#perm_area") != -1){
				  if(!areaLoaded){
					  initAreaTree();
				  }
			  }
		});
		
		$(".btn-app-add").on("click", function() {		
			var dlg = LAC.showModel({
				id : "dlg_role_app_select",
				type : "common",// primary common
				sizeCss : "modal-lg",
				title : "选择许可角色 ["+roleName+"] 访问的应用",
				url :  ctx + "/Application/select?multi=true",
				data : getAppCnds(),
				method : "post",
				callback : function(data) {
					LAC.closeModel("dlg_role_app_select");
					//dlg.modal("hide");
					if(data){
						var iduuids = {};
						for (var i = 0; i < data.length; i++) {
							var rowData = data[i];
							iduuids[rowData.uuid] = rowData.id;
						}
						LAC.ajax({
		                    url: ctx + "/SelfKhRole/addApps?roleId="+roleId+"&roleUuid="+roleUuid,
		                    data: JSON2.stringify(iduuids),
		                    dataType: 'json',
		                    contentType: "application/json; charset=utf-8",
		                    success: function (ret) {
		                        if (ret) {
		                        	for (var i = 0; i < data.length; i++) {
		    							var rowData = data[i];
		    							dtable4App.row.add(rowData).draw();
		    						}
		                            LAC.tip('操作成功!', 'success');
		                        }
		                    }
		                });
					}
				}
			});
		});
		
		$('#dt_app tbody').on('click', 'tr', function () {
			var data = dtable4App.row( this ).data();
			appId = data.id;
			appUuid = data.uuid;
			initTree();
	    });
		
		$('#roleId').on('change', function(){
			var so = $("#roleId").find("option:selected");
			roleId = so.val();
			roleUuid = so.data("uuid");
			roleName = so.text();
			dtable4App.draw();
		});
		
		$("#btn_save_perms").on("click", function() {
			var iduuids = {};
			var url = ctx;
			var treeObj;
			if($("#perm_menu").hasClass("active")){
				url += "/SelfKhRole/saveRoleAppMenuPerm?roleId="+roleId+"&roleUuid="+roleUuid+"&appId="+appId+"&appUuid="+appUuid;
				treeObj = $.fn.zTree.getZTreeObj("menuTree");
			} else if($("#perm_org").hasClass("active")){
				url += "/SelfKhRole/saveRoleAppOrgPerm?roleId="+roleId+"&roleUuid="+roleUuid+"&appId="+appId+"&appUuid="+appUuid;
				treeObj = $.fn.zTree.getZTreeObj("orgTree");
			} else if($("#perm_area").hasClass("active")){
				url += "/SelfKhRole/saveRoleAppAreaPerm?roleId="+roleId+"&roleUuid="+roleUuid+"&appId="+appId+"&appUuid="+appUuid;
				treeObj = $.fn.zTree.getZTreeObj("areaTree");
			}
			
			var nodes = treeObj.getChangeCheckedNodes();
			if(nodes && nodes.length>0){
				var checkedNodes = treeObj.getCheckedNodes(true);
				if(checkedNodes && checkedNodes.length>0){
					for (var i = 0; i < checkedNodes.length; i++) {
						var nd = checkedNodes[i];
						if(nd.id.indexOf("A") == -1){
							iduuids[nd.uuid] = nd.id;
						}
					}
				}
				//console.log(iduuids);
				LAC.ajax({
                    url: url,
                    data: JSON2.stringify(iduuids),
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8",
                    success: function (ret) {
                        if (ret) {
                            LAC.tip('操作成功!', 'success');
                        }
                    }
                });
			} else {
				LAC.showWarn("您没有进行任何修改，无需保存！");
			}
			
		});

	}
	
	function initTree(){
		menuLoaded = false;
		orgLoaded = false;
		areaLoaded = false;
		if($("#perm_menu").hasClass("active")){
			initMenuTree();
		} else if($("#perm_org").hasClass("active")){
			initOrgTree();
		} else if($("#perm_area").hasClass("active")){
			initAreaTree();
		}
	}
	
	function destroyTrees(){
		var areaTree = $.fn.zTree.getZTreeObj("areaTree");
		if(areaTree){
			$.fn.zTree.destroy("areaTree");
		}
		
		var orgTree = $.fn.zTree.getZTreeObj("orgTree");
		if(orgTree){
			$.fn.zTree.destroy("orgTree");
		}
		
		var menuTree = $.fn.zTree.getZTreeObj("menuTree");
		if(menuTree){
			$.fn.zTree.destroy("menuTree");
		}
	}
	
	function initAreaTree(parentAreaId){
		var areaTree = $.fn.zTree.getZTreeObj("areaTree");
		if(areaTree){
			$.fn.zTree.destroy("areaTree");
		}
		
		var url = ctx + "/SelfKhRole/getPermedAreaTree?roleId="+roleId+"&roleUuid="+roleUuid+"&appId="+appId+"&appUuid="+appUuid;
		if(parentAreaId){
			url += "&parentAreaId=" + parentAreaId;
		}
		
		if(roleId>0 && appId>0){
			LAC.ajax({
		        contentType: "application/x-www-form-urlencoded",
		        url: url,
		        type: "GET",
		        dataType: 'json',
		        success: function (data) {
		        	//LAC.dealTreeNodeIcon(data, static_server + "/lac/imgs/");
		        	$("#rootAreaId").val(data.parentAreaId);
					$("#areaName").val(data.parentAreaName);
							
		        	var treeObj = $.fn.zTree.init($("#areaTree"), setting, data.areaNodes);
		        	treeObj.expandAll(true);
		        	areaLoaded = true;
		        }
		    });
		}
	}
	
	function initOrgTree(){
		var orgTree = $.fn.zTree.getZTreeObj("orgTree");
		if(orgTree){
			$.fn.zTree.destroy("orgTree");
		}
		if(roleId>0 && appId>0){
			LAC.ajax({
		        contentType: "application/x-www-form-urlencoded",
		        url: ctx + "/SelfKhRole/getPermedOrgTree?roleId="+roleId+"&roleUuid="+roleUuid+"&appId="+appId+"&appUuid="+appUuid,
		        type: "GET",
		        dataType: 'json',
		        success: function (data) {
		        	LAC.dealTreeNodeIcon(data, static_server + "/lac/imgs/");
		        	var treeObj = $.fn.zTree.init($("#orgTree"), setting, data);
		        	treeObj.expandAll(true);
		        	orgLoaded = true;
		        }
		    });
		}
	}
	
	function initMenuTree(){
		var menuTree = $.fn.zTree.getZTreeObj("menuTree");
		if(menuTree){
			$.fn.zTree.destroy("menuTree");
		}
		if(roleId>0 && appId>0){
			LAC.ajax({
		        contentType: "application/x-www-form-urlencoded",
		        url: ctx + "/SelfKhRole/getPermedMenuTree?roleId="+roleId+"&roleUuid="+roleUuid+"&appId="+appId+"&appUuid="+appUuid,
		        type: "GET",
		        dataType: 'json',
		        success: function (data) {
		        	LAC.dealTreeNodeIcon(data, static_server + "/lac/imgs/");
		        	var treeObj = $.fn.zTree.init($("#menuTree"), setting, data);
		        	treeObj.expandAll(true);
		        	menuLoaded = true;
		        }
		    });
		}
	}

	function initDataTable4App() {
		console.log(getAppCnds());
		dtable4App = $('#dt_app').LacDTable(
						{
							order : [ [ 4, "desc" ] ],
							url : ctx + "/Application/page4SelfKhRole",
							autoSequence : true,
							cnds : getAppCnds,
							columns : [
									{
										"data" : "name",
										"width" : "120px",
										"defaultContent" : ""
									}, {
										"data" : "code",
										"width" : "120px",
										"defaultContent" : ""
									}, {
										"data" : "status",
										"width" : "40px",
										"render" : function(data, type, row) {
											if (data == 0) {
												return '<span class="badge badge-success">正常</span>';
											} else if (data == 1) {
												return '<span class="badge badge-danger">停用</span>';
											} else {
												return "";
											}
										}
									}, {
										"data" : "id",
										"visible" : false
									} ],
							drawCallback: function( settings ) {
								if($('#dt_app').DataTable().data().count() > 0){
									$('#dt_app tbody tr:first').addClass('selected');
									var data = dtable4App.row( $('#dt_app tbody tr:first') ).data();
									appId = data.id;
									appUuid = data.uuid;
									initTree();
								}else{
									destroyTrees();
								}
						    },
						    initComplete : function(setting, json) {
						    	$("#areaName").lac2FieldTree({
									setting : {
										callback : {
											onClick : function(event, treeId, treeNode, clickFlag) {
												$("#rootAreaId").val(treeNode.id);
												$("#areaName").val(treeNode.name);
												initAreaTree(treeNode.id);
											}
										}
									},
									url : ctx + "/area/loadTree4App?appId=" + appId + "&appUuid=" + appUuid,
									expandAll : true,
									cacheEnabled : true
								});
							}
						});

	}
</script>
</body>
</html>
