<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>给人员分配角色</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" th:href="@{{path}/AdminLTE2410/bower_components/bootstrap/dist/css/bootstrap.min.css(path=${static_server},v=${static_res_version})}">
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css" th:href="@{{path}/AdminLTE2410/bower_components/font-awesome/css/font-awesome.min.css(path=${static_server},v=${static_res_version})}">
  <link rel="stylesheet" href="bower_components/Ionicons/css/ionicons.min.css" th:href="@{{path}/AdminLTE2410/bower_components/Ionicons/css/ionicons.min.css(path=${static_server},v=${static_res_version})}">
  <link rel="stylesheet" href="plugins/iCheck/square/blue.css" th:href="@{{path}/AdminLTE2410/plugins/iCheck/square/blue.css(path=${static_server},v=${static_res_version})}">
  <link rel="stylesheet" href="bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" th:href="@{{path}/AdminLTE2410/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css(path=${static_server},v=${static_res_version})}">
  <link rel="stylesheet" href="dist/css/AdminLTE.min.css" th:href="@{{path}/AdminLTE2410/dist/css/AdminLTE.min.css(path=${static_server},v=${static_res_version})}">
  <link rel="stylesheet" href="dist/css/index.css" th:href="@{{path}/AdminLTE2410/dist/css/index.css(path=${static_server},v=${static_res_version})}">
  <link rel="stylesheet" href="dist/css/skins/_all-skins.min.css" th:href="@{{path}/AdminLTE2410/dist/css/skins/_all-skins.min.css(path=${static_server},v=${static_res_version})}">
  <link href="plugins/ztree/css/zTreeStyle/zTreeStyle.css" th:href="@{{path}/AdminLTE2410/plugins/ztree/css/zTreeStyle/zTreeStyle.css(path=${static_server},v=${static_res_version})}" rel="stylesheet">
  <link href="plugins/ztree/css/metroStyle/metroStyle.css" th:href="@{{path}/AdminLTE2410/plugins/ztree/css/metroStyle/metroStyle.css(path=${static_server},v=${static_res_version})}" rel="stylesheet">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic" th:href="@{{path}/AdminLTE2410/bower_components/fonts.googleapis/fonts.css(path=${static_server},v=${static_res_version})}">
  <style>
	.searchBox>.pull-left>ul{
		padding-left:0;
	}
	.searchBox>.pull-left>ul>li{
		height:34px;
		line-height:34px;
	}
  </style>
</head>
<body class="hold-transition skin-blue sidebar-mini">
	<section class="find-tools">
      <div class="searchBox">
        <div class="pull-left">
          <ul>
            <li><i class="fa fa-th-large"></i>&nbsp;人员 [ <span th:text="${userName}"></span> ] 已分配角色列表</li>
          </ul>
        </div>
        <div class="pull-right">
          <button class="btn-role-add btn btn-block btn-primary btn-sm"><i class="fa fa-plus"></i>&nbsp;添加角色</button>
        </div>
      </div>
	</section>

	<section class="content">
		<table id="dt_role" class="table table-bordered table-striped" style="width: 100%">
			<thead>
				<tr>
					<th>角色名称</th>
					<th>编码</th>
					<th>说明</th>
					<th>状态</th>
					<th>操作</th>
					<th>UUID</th>
					<th>ID</th>
				</tr>
			</thead>
		</table>
	</section>

<script th:replace="page/base/global :: jsVar"></script>
<script src="bower_components/jquery/dist/jquery.min.js" th:src="@{{path}/AdminLTE2410/bower_components/jquery/dist/jquery.min.js(path=${static_server},v=${static_res_version})}"></script>
<script src="bower_components/jquery-ui/jquery-ui.min.js" th:src="@{{path}/AdminLTE2410/bower_components/jquery-ui/jquery-ui.min.js(path=${static_server},v=${static_res_version})}"></script>
<script>
  $.widget.bridge('uibutton', $.ui.button);
</script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js" th:src="@{{path}/AdminLTE2410/bower_components/bootstrap/dist/js/bootstrap.min.js(path=${static_server},v=${static_res_version})}"></script>
<script src="bower_components/jquery-slimscroll/jquery.slimscroll.min.js" th:src="@{{path}/AdminLTE2410/bower_components/jquery-slimscroll/jquery.slimscroll.min.js(path=${static_server},v=${static_res_version})}"></script>
<script src="bower_components/fastclick/lib/fastclick.js" th:src="@{{path}/AdminLTE2410/bower_components/fastclick/lib/fastclick.js(path=${static_server},v=${static_res_version})}"></script>
<script src="dist/js/adminlte.min.js" th:src="@{{path}/AdminLTE2410/dist/js/adminlte.min.js(path=${static_server},v=${static_res_version})}"></script>
<script src="dist/js/demo.js" th:src="@{{path}/AdminLTE2410/dist/js/demo.js(path=${static_server},v=${static_res_version})}"></script>
<script src="plugins/iCheck/icheck.min.js" th:src="@{{path}/AdminLTE2410/plugins/iCheck/icheck.min.js(path=${static_server},v=${static_res_version})}"></script>
<script src="bower_components/datatables.net/js/jquery.dataTables.min.js" th:src="@{{path}/AdminLTE2410/bower_components/datatables.net/js/jquery.dataTables.min.js(path=${static_server},v=${static_res_version})}"></script>
<script src="bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js" th:src="@{{path}/AdminLTE2410/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../AdminLTE2410/plugins/ztree/js/jquery.ztree.all.min.js" th:src="@{{path}/AdminLTE2410/plugins/ztree/js/jquery.ztree.all.min.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../lac/json2.js" th:src="@{{path}/lac/json2.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../lac/utils.js" th:src="@{{path}/lac/utils.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../lac/lac2.js" th:src="@{{path}/lac/lac2.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../lac/lac2Tab.js" th:src="@{{path}/lac/lac2Tab.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../lac/lac2Menu.js" th:src="@{{path}/lac/lac2Menu.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../lac/lac2FieldTree.js" th:src="@{{path}/lac/lac2FieldTree.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../lac/lac2Dialog.js" th:src="@{{path}/lac/lac2Dialog.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../lac/lac2DataTables.js" th:src="@{{path}/lac/lac2DataTables.js(path=${static_server},v=${static_res_version})}"></script>
<script th:inline="javascript">
	
	/*<![CDATA[*/
	var userId = /*[[${userId}]]*/ '';
	var userUuid = /*[[${userUuid}]]*/ '';
	var userName = /*[[${userName}]]*/ '';
	/*]]>*/
	
	var dtable4Role, curRow4Role;
	
	function getCnds(){
		return [{ field: "userId", data: userId, op: "eq", type: "L" },{ field: "userUuid", data: userUuid, op: "eq", type: "S" },{ field: "status", data: 0, op: "eq", type: "I" }];
	}

	$(function() {
		initDataTable4Role();
		bindEvents4DataTable4Role();
	});

	function bindEvents4DataTable4Role() {
		$(".btn-role-add").on("click", function() {		
			var dlg = LAC.showModel({
				id : "dlg_ywrole_select",
				type : "common",// primary common
				sizeCss : "modal-lg",
				title : "选择用户 ["+userName+"] 要分配的角色",
				url :  ctx + "/YwRole/select?multi=true",
				data : getCnds(),
				method : "post",
				callback : function(data) {
					LAC.closeModel("dlg_ywrole_select");
					//dlg.modal("hide");
					//console.log('dlg_ywrole_select', data);
					if(data){
						var iduuids = {};
						for (var i = 0; i < data.length; i++) {
							var rowData = data[i];
							iduuids[rowData.uuid] = rowData.id;
						}
						LAC.ajax({
		                    url: ctx + "/YwUser/addRoles?userId="+userId+"&userUuid="+userUuid,
		                    data: JSON2.stringify(iduuids),
		                    dataType: 'json',
		                    contentType: "application/json; charset=utf-8",
		                    success: function (ret) {
		                        if (ret) {
		                        	for (var i = 0; i < data.length; i++) {
		    							var rowData = data[i];
		    							dtable4Role.row.add(rowData).draw();
		    						}
		                            LAC.tip('操作成功!', 'success');
		                        }
		                    }
		                });
					}
				}
			});
		});

		$('#dt_role tbody').on('click', 'i.btn-role-del', function(event) {
			curRow4Role = dtable4Role.row($(this).parents('tr'));
			var rowData = curRow4Role.data();
			var url = ctx + "/YwUser/removeRoles?userId="+userId+"&userUuid="+userUuid;
			var iduuids = {};
			iduuids[rowData.uuid] = rowData.id;
			LAC.confirmExecute(url, iduuids, function (ret) {
	            if (ret) {
	            	curRow4Role.remove().draw( false );
	            } else {
	                LAC.tip("操作执行失败！！！", "error");
	            }
	        }, "你确定要执行此操作吗？", true);
		});

	}

	function initDataTable4Role() {
		dtable4Role = $('#dt_role').LacDTable(
				{
					order : [ [ 7, "desc" ] ],
					url : ctx + "/YwRole/page4User",
					autoSequence : true,
					cnds : getCnds,
					columns : [
						{
							"data" : "name",
							"width" : "90px",
							"defaultContent" : ""
						}, {
							"data" : "govCode",
							"width" : "50px",
							"defaultContent" : ""
						}, {
							"data" : "remark",
							"width" : "120px",
							"orderable" : false,
							"defaultContent" : ""
						}, {
							"data" : "status",
							"width" : "30px",
							"render" : function(data, type, row) {
								if (data == 0) {
									return '<span class="badge bg-green">正常</span>';
								} else if (data == 1) {
									return '<span class="badge bg-yellow">停用</span>';
								} else {
									return "";
								}
							}
						},{
								"data" : null,
								"defaultContent" : "",
								"width" : "40px",
								"orderable" : false,
								"searchable" : false,
								"sClass" : "text-center",
								"render" : function(data, type, row) {
									return ' &nbsp; <i class="fa fa-trash-o text-red btn-role-del" style="cursor:pointer"></i>';
								}
							},{
								"data" : "uuid",
								"visible" : false
							}, {
								"data" : "id",
								"visible" : false
							} ]
				});

	}
</script>
</body>
</html>
