<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>单位管理</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" th:href="@{{path}/AdminLTE3/font-awesome/4.4.0/css/font-awesome.min.css(path=${static_server},v=${static_res_version})}">
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" th:href="@{{path}/AdminLTE3/ionicons/2.0.1/css/ionicons.min.css(path=${static_server},v=${static_res_version})}">
<link rel="stylesheet" href="../../AdminLTE3/css/adminlte.min.css" th:href="@{{path}/AdminLTE3/css/adminlte.min.css(path=${static_server},v=${static_res_version})}">
<link href="../../AdminLTE3/css/index.css" th:href="@{{path}/AdminLTE3/css/index.css(path=${static_server},v=${static_res_version})}" rel="stylesheet">
<link href="https://fonts.proxy.ustclug.org/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet" th:href="@{{path}/AdminLTE3/googleapis-fonts/fonts.css(path=${static_server},v=${static_res_version})}">
<link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css" th:href="@{{path}/plugins/ztree/css/metroStyle/metroStyle.css(path=${static_server},v=${static_res_version})}" type="text/css">
<link rel="stylesheet" href="../../plugins/iCheck/all.css" th:href="@{{path}/plugins/iCheck/all.css(path=${static_server},v=${static_res_version})}">
</head>
<body class="hold-transition">
	<div class="card card-outline" style="margin-top:5px;">
		<div class="card-body">
			
			<form id="f_com_addedit" class="form-horizontal" method="post" action="/SelfKhCompany/save" th:action="@{/SelfKhCompany/save}">
						<input type="hidden" id="id" name="id" th:value="${id}"/>
						<input type="hidden" id="uuid" name="uuid" th:value="${uuid}"/>
						<input type="hidden" id="parentId" name="parentId" th:value="${parentId}"/>
						<input type="hidden" id="parentClass" name="parentClass" th:value="${parentClass}"/>
						<input type="hidden" id="areaId" name="areaId"/>
						<input type="hidden" id="khTypeCode" name="khTypeCode"/>
						
			<div class="card card-outline card-info" style="margin-top:5px;">
				<div class="card-header">
					<h3 class="card-title">单位基本信息</h3>
					<div class="card-tools">
						<button type="button" class="btn btn-tool" data-widget="collapse">
							<i class="fa fa-minus"></i>
						</button>
					</div>
				</div>
				<div class="card-body">
						<div class="row">
							<div class="col-md-6">
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">父单位</span>
									</div>
									<input type="text" class="form-control" name="orgName" id="orgName" readonly>
								</div>
							</div>
							<div class="col-md-6">
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">状态*</span>
									</div>
									<select name="status" id="status" class="form-control">
				                      <option value="0">正常</option>
				                      <option value="1">禁用</option>
				                    </select>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">单位名称*</span>
									</div>
									<input type="text" class="form-control validate[required,maxSize[32]]" name="name" id="name" placeholder="请输入单位名称...">
								</div>
							</div>
							<div th:if="${id == null }" class="col-md-6">
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">编号*</span>
									</div>
									<input type="text" class="form-control validate[required,maxSize[32]]" name="govCode" id="govCode" placeholder="请输入单位编号...">
								</div>
							</div>
							<div th:if="${id != null }" class="col-md-6">
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">编号*</span>
									</div>
									<input type="text" class="form-control" name="govCode" id="govCode" readonly>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">单位电话*</span>
									</div>
									<input type="text" class="form-control validate[required,maxSize[20]]" name="phone" id="phone" placeholder="请输入单位电话...">
								</div>
							</div>
							<div class="col-md-6">
									<div class="input-group mb-3">
										<div class="input-group-prepend">
											<span class="input-group-text">单位传真</span>
										</div>
										<input type="text" class="form-control validate[maxSize[20]]" name="fax" id="fax" placeholder="请输入单位传真...">
									</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">所在区域</span>
									</div>
									<input type="text" class="form-control" name="areaName" id="areaName" readonly>
								</div>
							</div>
							<div class="col-md-6">
									<div class="input-group mb-3">
										<div class="input-group-prepend">
											<span class="input-group-text">单位网站</span>
										</div>
										<input type="text" class="form-control validate[maxSize[254]]" name="url" id="url" placeholder="请输入单位网址...">
									</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">单位地址</span>
									</div>
									<input type="text" class="form-control validate[maxSize[64]]" name="address" id="address" placeholder="请输入单位地址...">
								</div>
							</div>
						</div>
						<div class="row kh-type-ent">
							<div class="col-md-6">
									<div class="input-group mb-3">
										<div class="input-group-prepend">
											<span class="input-group-text">单位规模</span>
										</div>
										<input type="text" class="form-control validate[custom[integer],max[1000000]]" name="scale" id="scale" placeholder="请输入单位规模...">
									</div>
							</div>
							<div class="col-md-6">
									<div class="input-group mb-3">
										<div class="input-group-prepend">
											<span class="input-group-text">业务开通*</span>
										</div>
										<input type="text" class="form-control date validate[required]" name="businessStart" id="businessStart" placeholder="请选择业务开通上线时间..." readonly>
									</div>
								</div>
						</div>
						<div class="row kh-type-ent">
								<div class="col-md-6">
									<div class="input-group mb-3">
										<div class="input-group-prepend">
											<span class="input-group-text">证照类型</span>
										</div>
										<select class="form-control" id="certificateType" name="certificateType" placeholder="请选择单位证照类型...">
											<option th:each="dict : ${ ctoDicts }" th:value="${dict.id}" th:text="${dict.name}" >请选择单位证照类型</option>
										</select>
									</div>
								</div>
								<div class="col-md-6">
									<div class="input-group mb-3">
										<div class="input-group-prepend">
											<span class="input-group-text">证照号码</span>
										</div>
										<input type="text" class="form-control validate[maxSize[50]]" name="certificateNo" id="certificateNo" placeholder="请输入单位证照号码...">
									</div>
								</div>
							</div>
							<div class="row kh-type-ent">
								<div class="col-md-12">
									<div class="input-group mb-3">
										<div class="input-group-prepend">
											<span class="input-group-text">经营范围</span>
										</div>
										<textarea class="form-control validate[maxSize[255]]" rows="2" id="business" name="business" placeholder="请输入经营范围..."></textarea>
									</div>
								</div>
							</div>
							<div class="row kh-type-ent">
								<div class="col-md-12">
									<div class="input-group mb-3">
										<div class="input-group-prepend">
											<span class="input-group-text">单位资质</span>
										</div>
										<textarea class="form-control validate[maxSize[255]]" rows="2" id="credentials" name="credentials" placeholder="请输入单位资质..."></textarea>
									</div>
								</div>
							</div>
						<div class="row">
							<div class="col-md-12">
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">备注</span>
									</div>
									<textarea class="form-control validate[maxSize[255]]" rows="3" id="remark" name="remark" placeholder="请输入单位备注说明..."></textarea>
								</div>
							</div>
						</div>
				</div>
				
			</div>
			
			<div class="card card-outline card-info" style="margin-top:5px;">
				<div class="card-header">
					<h3 class="card-title">单位联系人信息</h3>
					<div class="card-tools">
						<button type="button" class="btn btn-tool" data-widget="collapse">
							<i class="fa fa-minus"></i>
						</button>
					</div>
				</div>
				<div class="card-body">
						<div class="row">
							<div class="col-md-6">
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">联系人/法人</span>
									</div>
									<input type="text" class="form-control validate[maxSize[32]]" name="juridical" id="juridical" placeholder="请输入法人姓名...">
									<span class="input-group-append">
					                    <button id="btn_user_select" type="button" class="btn btn-info btn-flat">选择</button>
					                </span>
								</div>
							</div>
							<div class="col-md-6">
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">联系电话</span>
									</div>
									<input type="text" class="form-control validate[maxSize[32]]" name="jphone" id="jphone" placeholder="请输入法人电话...">
								</div>
							</div>
						</div>
						<div class="row">
								<div class="col-md-6">
									<div class="input-group mb-3">
										<div class="input-group-prepend">
											<span class="input-group-text">证照类型</span>
										</div>
										<select class="form-control" id="jType" name="jType" placeholder="请选择法人/联系人证照类型...">
											<option th:each="dict : ${ ctpDicts }" th:value="${dict.id}" th:text="${dict.name}" >请选择法人/联系人证照类型</option>
										</select>
									</div>
								</div>
								<div class="col-md-6">
									<div class="input-group mb-3">
										<div class="input-group-prepend">
											<span class="input-group-text">证照号码</span>
										</div>
										<input type="text" class="form-control validate[maxSize[50]]" name="jNo" id="jNo" placeholder="请输入法人/联系人证照号码...">
									</div>
								</div>
							</div>
				</div>
				
			</div>
			</form>
			
		</div>
		<div class="card-footer">
			<button id="btn_com_cancel" type="button" class="btn btn-default float-right" style="margin:0px 10px;">取消</button>
			<button id="btn_com_save" type="button" class="btn btn-info float-right" data-res="selfkh_org_user-org_addCompany||selfkh_org_user-org_edit">保存</button>
		</div>
	</div>
	<script th:replace="page/base/global :: jsVar"></script>
	<script src="../../plugins/jquery/jquery.min.js" th:src="@{{path}/plugins/jquery/jquery.min.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../plugins/jQueryUI/jquery-ui.min.js" th:src="@{{path}/plugins/jQueryUI/jquery-ui.min.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../plugins/jqueryForm-4.2.2/jquery.form.min.js" th:src="@{{path}/plugins/jqueryForm-4.2.2/jquery.form.min.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js" th:src="@{{path}/plugins/bootstrap/js/bootstrap.bundle.min.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../plugins/jqueryValidationEngine-2.6.4/languages/jquery.validationEngine-zh_CN.js" th:src="@{{path}/plugins/jqueryValidationEngine-2.6.4/languages/jquery.validationEngine-zh_CN.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../plugins/jqueryValidationEngine-2.6.4/jquery.validationEngine-2.6.4.js" th:src="@{{path}/plugins/jqueryValidationEngine-2.6.4/jquery.validationEngine-2.6.4.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../plugins/jqueryValidationEngine-2.6.4/validateHelper.js" th:src="@{{path}/plugins/jqueryValidationEngine-2.6.4/validateHelper.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../AdminLTE3/js/adminlte.min.js" th:src="@{{path}/AdminLTE3/js/adminlte.min.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../lac/json2.js" th:src="@{{path}/lac/json2.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../lac/utils.js" th:src="@{{path}/lac/utils.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../lac/lac2Tab.js" th:src="@{{path}/lac/lac2Tab.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../lac/lac2.js" th:src="@{{path}/lac/lac2.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../lac/lac2Dialog.js" th:src="@{{path}/lac/lac2Dialog.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../lac/lac2FieldTree.js" th:src="@{{path}/lac/lac2FieldTree.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../plugins/ztree/js/jquery.ztree.all.min.js" th:src="@{{path}/plugins/ztree/js/jquery.ztree.all.min.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../plugins/iCheck/icheck.min.js" th:src="@{{path}/plugins/iCheck/icheck.min.js(path=${static_server},v=${static_res_version})}"></script>
	<script type="text/javascript">
		$(function() {
			$("#areaName").lac2FieldTree({
				setting: {
					callback: {
						onClick: function(event, treeId, treeNode, clickFlag) {
							$("#areaId").val(treeNode.id);
							$("#areaName").val(treeNode.name);
						}		
					}
				},
				url: ctx + "/area/loadTree4MyCompany",
				expandAll : false,
				cacheEnabled: true
			});
			
			$("#f_com_addedit").initLacForm(ctx + "/SelfKhCompany/get?id=" + $("#id").val() + "&uuid=" + $("#uuid").val() + "&parentId=" + $("#parentId").val() + "&parentClass=" + $("#parentClass").val(), function(entity){
				$("#btn_com_save").permissionEnabled();
				if("kh_xx" == entity.khTypeCode){
					$(".kh-type-ent").hide();
				}
				if(entity.id && entity.id >0 ){
					$("#btn_user_select").show();
				}else{
					$("#btn_user_select").hide();
				}
			});
	
			$("#btn_com_cancel").click(function() {
				LacTab.closeThisTab();
			});
			
			$("#btn_com_save").click(function() {
				$('#f_com_addedit').saveClose();
			});
			
			$("#f_com_addedit").validationEngine("attach", { notShowPrompt : true }).bindValidationEngineHelper();
			
			$("#btn_user_select").click(function() {
				LAC.showModel({
					id : "dlg_self_khuser_select",
					type : "common",
					sizeCss : "modal-lg",
					title : "选择人员",
					url :  ctx + "/SelfKhUser/select?multi=false",
					//data : [{field:"companyId", type:"L", op:"eq", data:$("#id").val()}],
					data : [],
					method : "post",
					callback : function(user) {
						$("#juridical").val(user.name ? user.name : '');
						$("#jphone").val(user.mobile ? user.mobile : '');
						LAC.closeModel("dlg_self_khuser_select");
					}
				});
			});
			
		});
	</script>
</body>
</html>