<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>系统配置</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" th:href="@{{path}/AdminLTE2410/bower_components/bootstrap/dist/css/bootstrap.min.css(path=${static_server},v=${static_res_version})}">
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css" th:href="@{{path}/AdminLTE2410/bower_components/font-awesome/css/font-awesome.min.css(path=${static_server},v=${static_res_version})}">
  <link rel="stylesheet" href="bower_components/Ionicons/css/ionicons.min.css" th:href="@{{path}/AdminLTE2410/bower_components/Ionicons/css/ionicons.min.css(path=${static_server},v=${static_res_version})}">
  <link rel="stylesheet" href="plugins/iCheck/square/blue.css" th:href="@{{path}/AdminLTE2410/plugins/iCheck/square/blue.css(path=${static_server},v=${static_res_version})}">
  <link rel="stylesheet" href="bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" th:href="@{{path}/AdminLTE2410/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css(path=${static_server},v=${static_res_version})}">
  <link rel="stylesheet" href="dist/css/AdminLTE.min.css" th:href="@{{path}/AdminLTE2410/dist/css/AdminLTE.min.css(path=${static_server},v=${static_res_version})}">
  <link rel="stylesheet" href="dist/css/index.css" th:href="@{{path}/AdminLTE2410/dist/css/index.css(path=${static_server},v=${static_res_version})}">
  <link rel="stylesheet" href="dist/css/skins/_all-skins.min.css" th:href="@{{path}/AdminLTE2410/dist/css/skins/_all-skins.min.css(path=${static_server},v=${static_res_version})}">
  <link href="plugins/ztree/css/zTreeStyle/zTreeStyle.css" th:href="@{{path}/AdminLTE2410/plugins/ztree/css/zTreeStyle/zTreeStyle.css(path=${static_server},v=${static_res_version})}" rel="stylesheet">
  <link href="plugins/ztree/css/metroStyle/metroStyle.css" th:href="@{{path}/AdminLTE2410/plugins/ztree/css/metroStyle/metroStyle.css(path=${static_server},v=${static_res_version})}" rel="stylesheet">
  <link href="../../lac/lac2TreeTable.css" th:href="@{{path}/lac/lac2TreeTable.css(path=${static_server},v=${static_res_version})}" rel="stylesheet">
  <link href="bootstrap-switch.css" rel="stylesheet" th:href="@{{path}/AdminLTE2410/plugins/bootstrap-switch-3.3.4/css/bootstrap3/bootstrap-switch.min.css(path=${static_server},v=${static_res_version})}">
  
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic" th:href="@{{path}/AdminLTE2410/bower_components/fonts.googleapis/fonts.css(path=${static_server},v=${static_res_version})}">
</head>
<body class="hold-transition skin-blue sidebar-mini">
	<section class="find-tools">
		<div class="searchBox">
			<div class="pull-left">
				<i class="fa fa-th-large"></i>&nbsp;系统配置
			</div>
		</div>
	</section>

	<form id="f_config" class="form-horizontal" method="post" action="/System/save" th:action="@{/System/save}">
		<input type="hidden" id="id" name="id" th:value="${sc.id}"/>
		<input type="hidden" id="uuid" name="uuid" th:value="${sc.uuid}"/>
	
		<div class="box box-outline box-info" style="margin-top:5px;">
			<div class="box-header with-border">
				<h3 class="box-title">区域/组织权限设置</h3>
				<div class="box-tools pull-right">
					<button type="button" class="btn btn-box-tool" data-widget="collapse"> <i class="fa fa-minus"></i> </button>
				</div>
			</div>
			<div class="box-body">
				<div class="row">
					<div class="col-md-6 col-sm-12">
						<div class="form-group">
							<label for="areaName" class="col-sm-3 control-label">根区域</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" name="areaName" id="areaName" th:value="${areaName}" readonly> 
								<input type="hidden" id="rootAreaId" name="rootAreaId" th:value="${sc.rootAreaId}"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 col-sm-12">
						<div class="form-group">
							<label for="enableOrgPerm" class="col-sm-3 control-label">组织权限</label>
							<div class="col-sm-9">
								<div class="switch" >
								    <input id="enableOrgPerm" name="enableOrgPerm" type="checkbox" data-size="large" data-on-text="启用" data-off-text="禁用"  th:checked="${ sc.enableOrgPerm=='on' }" />
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 col-sm-12">
						<div class="form-group">
							<label for="enableOrgPerm" class="col-sm-3 control-label">区域权限</label>
							<div class="col-sm-9">
								<div class="switch" >
								    <input id="enableAreaPerm" name="enableAreaPerm" type="checkbox" data-size="large" data-on-text="启用" data-off-text="禁用"  th:checked="${ sc.enableAreaPerm=='on' }"/>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	
		<div class="box box-outline box-info" style="margin-top:5px;">
			<div class="box-header with-border">
				<h3 class="box-title">政府管理模式设置</h3>
				<div class="box-tools pull-right">
					<button type="button" class="btn btn-box-tool" data-widget="collapse"> <i class="fa fa-minus"></i> </button>
				</div>
			</div>
			<div class="box-body">
				<div class="row">
					<div class="col-md-6 col-sm-12">
						<div class="form-group">
							<label for="enableZf" class="col-sm-3 control-label">管理部门模式</label>
							<div class="col-sm-9">
								<div class="switch" >
								    <input id="enableZf" name="enableZf" type="checkbox" data-size="large" data-on-text="启用" data-off-text="禁用"  th:checked="${ sc.enableZf=='on' }" />
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 col-sm-12">
						<div class="form-group">
							<label for="enableZzd" class="col-sm-3 control-label">浙政钉对接</label>
							<div class="col-sm-9">
								<div class="switch" >
								    <input id="enableZzd" name="enableZzd" type="checkbox" data-size="large" data-on-text="启用" data-off-text="禁用"  th:checked="${ sc.enableZzd=='on' }" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="box-footer">
				<button id="btn-config-save" type="button" class="btn btn-primary" data-res="selfkh_system_config">保存系统配置</button>
			</div>
		</div>
	</form>
<script th:replace="page/base/global :: jsVar"></script>
<script src="bower_components/jquery/dist/jquery.min.js" th:src="@{{path}/AdminLTE2410/bower_components/jquery/dist/jquery.min.js(path=${static_server},v=${static_res_version})}"></script>
<script src="bower_components/jquery-ui/jquery-ui.min.js" th:src="@{{path}/AdminLTE2410/bower_components/jquery-ui/jquery-ui.min.js(path=${static_server},v=${static_res_version})}"></script>
<script>
  $.widget.bridge('uibutton', $.ui.button);
</script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js" th:src="@{{path}/AdminLTE2410/bower_components/bootstrap/dist/js/bootstrap.min.js(path=${static_server},v=${static_res_version})}"></script>
<script src="bower_components/jquery-slimscroll/jquery.slimscroll.min.js" th:src="@{{path}/AdminLTE2410/bower_components/jquery-slimscroll/jquery.slimscroll.min.js(path=${static_server},v=${static_res_version})}"></script>
<script src="bower_components/fastclick/lib/fastclick.js" th:src="@{{path}/AdminLTE2410/bower_components/fastclick/lib/fastclick.js(path=${static_server},v=${static_res_version})}"></script>
<script src="dist/js/adminlte.min.js" th:src="@{{path}/AdminLTE2410/dist/js/adminlte.min.js(path=${static_server},v=${static_res_version})}"></script>
<script src="dist/js/demo.js" th:src="@{{path}/AdminLTE2410/dist/js/demo.js(path=${static_server},v=${static_res_version})}"></script>
<script src="plugins/iCheck/icheck.min.js" th:src="@{{path}/AdminLTE2410/plugins/iCheck/icheck.min.js(path=${static_server},v=${static_res_version})}"></script>
<script src="bower_components/datatables.net/js/jquery.dataTables.min.js" th:src="@{{path}/AdminLTE2410/bower_components/datatables.net/js/jquery.dataTables.min.js(path=${static_server},v=${static_res_version})}"></script>
<script src="bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js" th:src="@{{path}/AdminLTE2410/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../AdminLTE2410/plugins/ztree/js/jquery.ztree.all.min.js" th:src="@{{path}/AdminLTE2410/plugins/ztree/js/jquery.ztree.all.min.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../lac/json2.js" th:src="@{{path}/lac/json2.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../lac/utils.js" th:src="@{{path}/lac/utils.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../lac/lac2.js" th:src="@{{path}/lac/lac2.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../lac/lac2Tab.js" th:src="@{{path}/lac/lac2Tab.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../lac/lac2Menu.js" th:src="@{{path}/lac/lac2Menu.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../lac/lac2FieldTree.js" th:src="@{{path}/lac/lac2FieldTree.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../lac/lac2Dialog.js" th:src="@{{path}/lac/lac2Dialog.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../lac/lac2DataTables.js" th:src="@{{path}/lac/lac2DataTables.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../lac/lac2TreeTable.js" th:src="@{{path}/lac/lac2TreeTable.js(path=${static_server},v=${static_res_version})}"></script>
<script src="plugins/ztree/js/jquery.ztree.all.min.js" th:src="@{{path}/AdminLTE2410/plugins/ztree/js/jquery.ztree.all.min.js(path=${static_server},v=${static_res_version})}"></script>
<script src="bootstrap-switch.js" th:src="@{{path}/AdminLTE2410/plugins/bootstrap-switch-3.3.4/js/bootstrap-switch.min.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../AdminLTE2410/plugins/jqueryValidationEngine-2.6.4/languages/jquery.validationEngine-zh_CN.js" th:src="@{{path}/AdminLTE2410/plugins/jqueryValidationEngine-2.6.4/languages/jquery.validationEngine-zh_CN.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../AdminLTE2410/plugins/jqueryValidationEngine-2.6.4/jquery.validationEngine-2.6.4.js" th:src="@{{path}/AdminLTE2410/plugins/jqueryValidationEngine-2.6.4/jquery.validationEngine-2.6.4.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../AdminLTE2410/plugins/jqueryValidationEngine-2.6.4/validateHelper.js" th:src="@{{path}/AdminLTE2410/plugins/jqueryValidationEngine-2.6.4/validateHelper.js(path=${static_server},v=${static_res_version})}"></script>
<script type="text/javascript">
	$(function() {
		if(!$("#id") ||  $("#id")==""){
			$("#areaName").lac2FieldTree({
				setting : {
					callback : {
						onClick : function(event, treeId, treeNode, clickFlag) {
							$("#rootAreaId").val(treeNode.id);
							$("#areaName").val(treeNode.name);
						}
					}
				},
				url : ctx + "/area/loadTree",
				expandAll : false,
				cacheEnabled : true
			});
		}
		
		$('input[type="checkbox"]').bootstrapSwitch();
		
		$("#f_config").validationEngine("attach", { notShowPrompt : true }).bindValidationEngineHelper();

		$("#btn-config-save").click(function() {
			$('#f_config').saveClose();
		});

	});
</script>
</body>
</html>