<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>用户管理</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" th:href="@{{path}/AdminLTE3/font-awesome/4.4.0/css/font-awesome.min.css(path=${static_server},v=${static_res_version})}">
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" th:href="@{{path}/AdminLTE3/ionicons/2.0.1/css/ionicons.min.css(path=${static_server},v=${static_res_version})}">
<link rel="stylesheet" href="../../AdminLTE3/css/adminlte.min.css" th:href="@{{path}/AdminLTE3/css/adminlte.min.css(path=${static_server},v=${static_res_version})}">
<link rel="stylesheet" href="../../AdminLTE3/css/index.css" th:href="@{{path}/AdminLTE3/css/index.css(path=${static_server},v=${static_res_version})}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" th:href="@{{path}/AdminLTE3/googleapis-fonts/fonts.css(path=${static_server},v=${static_res_version})}">
<link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css" th:href="@{{path}/plugins/ztree/css/metroStyle/metroStyle.css(path=${static_server},v=${static_res_version})}" type="text/css">
<link rel="stylesheet" href="../../plugins/iCheck/all.css" th:href="@{{path}/plugins/iCheck/all.css(path=${static_server},v=${static_res_version})}">
</head>
<body class="hold-transition">
	<div class="card card-outline card-info" style="margin-top:5px;">
		<div class="card-header">
			<h3 class="card-title">用户基本信息</h3>

			<div class="card-tools">
				<button type="button" class="btn btn-tool" data-widget="collapse">
					<i class="fa fa-minus"></i>
				</button>
			</div>
			<!-- /.card-tools -->
		</div>
		<!-- /.card-header -->
		<div class="card-body">
			<form id="f_user_addedit" class="form-horizontal" method="post" action="/SelfKhUser/save" th:action="@{/SelfKhUser/save}">
				<input type="hidden" id="id" name="id" th:value="${id}"/>
				<input type="hidden" id="uuid" name="uuid" th:value="${uuid}"/>
				<input type="hidden" id="parentId" name="parentId" th:value="${parentId}"/>
				<input type="hidden" id="parentClass" name="parentClass" th:value="${parentClass}"/>
				<div class="row">
					<div class="col-md-6">
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text">所属部门*</span>
							</div>
							<input type="text" class="form-control validate[required]" name="orgName" id="orgName" readonly placeholder="请选择部门...">
						</div>
					</div>
					<div class="col-md-6">
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text">状态*</span>
							</div>
							<!--  
							<div style="padding:8px 10px;">
								<label> <input type="radio" name="status" class="flat-green" value="10" checked> 正常 </label> &nbsp;&nbsp;
								<label> <input type="radio" name="status" class="flat-red" value="11"> 禁用 </label>
							</div>
							-->
							<select name="status" id="status" class="form-control">
		                      <option value="0">正常</option>
		                      <option value="1">禁用</option>
		                    </select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text">姓名*</span>
							</div>
							<input type="text" class="form-control validate[required,maxSize[32]]" name="name" id="name" placeholder="请输入用户名称...">
						</div>
					</div>
					<div class="col-md-6">
						<div class="input-group mb-3">
							<div class="input-group-prepend pull-right">
								<span class="input-group-text">工号</span>
							</div>
							<input type="text" class="form-control validate[maxSize[32]]" name="govCode" id="govCode" placeholder="请输入用户工号...">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div th:if="${id == null }" class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text">账号*</span>
							</div>
							<input type="text" class="form-control validate[required,maxSize[64]]" name="account" id="account" placeholder="请输入用户账号...">
						</div>
						<div th:if="${id != null }" class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text">账号*</span>
							</div>
							<input type="text" class="form-control" name="account" id="account" readonly placeholder="请输入用户账号...">
						</div>
					</div>
					<div class="col-md-6">
						<div class="input-group mb-3">
							<div class="input-group-prepend pull-right">
								<span class="input-group-text">手机</span>
							</div>
							<input type="text" class="form-control validate[maxSize[32]]" name="mobile" id=""mobile"" value="1" placeholder="请输入用户手机...">
						</div>
					</div>
				</div>
				<div th:if="${id == null }" class="row">
					<div class="col-md-6">
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text">密码*</span>
							</div>
							<input type="password" class="form-control validate[required,maxSize[32]]" name="password" id="password" placeholder="请输入用户昵称...">
						</div>
					</div>
					<div class="col-md-6">
						<div class="input-group mb-3">
							<div class="input-group-prepend pull-right">
								<span class="input-group-text">确认密码*</span>
							</div>
							<input type="password" class="form-control validate[required,maxSize[32],equals[password]]" name="password2" id="password2" placeholder="请输入用户编号...">
						</div>
					</div>
				</div>
				<div th:if="${id != null }" class="row">
					<div class="col-md-6">
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text">密码</span>
							</div>
							<input type="password" class="form-control validate[maxSize[32]]" name="password" id="password" placeholder="请输入用户昵称...">
						</div>
					</div>
					<div class="col-md-6">
						<div class="input-group mb-3">
							<div class="input-group-prepend pull-right">
								<span class="input-group-text">确认密码</span>
							</div>
							<input type="password" class="form-control validate[maxSize[32],equals[password]]" name="password2" id="password2" placeholder="请输入用户编号...">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text">昵称</span>
							</div>
							<input type="text" class="form-control validate[maxSize[32]]" name="nickName" id="nickName" placeholder="请输入用户昵称...">
						</div>
					</div>
					<div class="col-md-6">
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text">用户类型*</span>
							</div>
							<select name="type" id="type" class="form-control">
		                      <option value="0">普通用户</option>
		                      <option value="9">管理员</option>
		                    </select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text">备注</span>
							</div>
							<textarea class="form-control validate[maxSize[255]]" rows="3" id="remark" name="remark" placeholder="请输入用户备注说明..."></textarea>
						</div>
					</div>
				</div>

			</form>
		</div>
		<!-- /.card-body -->
		<div class="card-footer">
			<button id="btn_user_cancel" type="button" class="btn btn-default float-right" style="margin:0px 10px;">取消</button>
			<button id="btn_user_save" type="button" class="btn btn-info float-right" data-res="selfkh_org_user-user_add || selfkh_org_user-user_edit">保存</button>
		</div>
	</div>

	<script th:replace="page/base/global :: jsVar"></script>
	<script src="../../plugins/jquery/jquery.min.js" th:src="@{{path}/plugins/jquery/jquery.min.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../plugins/jQueryUI/jquery-ui.min.js" th:src="@{{path}/plugins/jQueryUI/jquery-ui.min.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../plugins/jqueryForm-4.2.2/jquery.form.min.js" th:src="@{{path}/plugins/jqueryForm-4.2.2/jquery.form.min.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js" th:src="@{{path}/plugins/bootstrap/js/bootstrap.bundle.min.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../plugins/jqueryValidationEngine-2.6.4/languages/jquery.validationEngine-zh_CN.js" th:src="@{{path}/plugins/jqueryValidationEngine-2.6.4/languages/jquery.validationEngine-zh_CN.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../plugins/jqueryValidationEngine-2.6.4/jquery.validationEngine-2.6.4.js" th:src="@{{path}/plugins/jqueryValidationEngine-2.6.4/jquery.validationEngine-2.6.4.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../plugins/jqueryValidationEngine-2.6.4/validateHelper.js" th:src="@{{path}/plugins/jqueryValidationEngine-2.6.4/validateHelper.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../AdminLTE3/js/adminlte.min.js" th:src="@{{path}/AdminLTE3/js/adminlte.min.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../lac/encryption/md5.js" th:src="@{{path}/lac/encryption/md5.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../lac/json2.js" th:src="@{{path}/lac/json2.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../lac/utils.js" th:src="@{{path}/lac/utils.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../lac/lac2Tab.js" th:src="@{{path}/lac/lac2Tab.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../lac/lac2.js" th:src="@{{path}/lac/lac2.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../lac/lac2Dialog.js" th:src="@{{path}/lac/lac2Dialog.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../lac/lac2FieldTree.js" th:src="@{{path}/lac/lac2FieldTree.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../plugins/ztree/js/jquery.ztree.all.min.js" th:src="@{{path}/plugins/ztree/js/jquery.ztree.all.min.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../plugins/iCheck/icheck.min.js" th:src="@{{path}/plugins/iCheck/icheck.min.js(path=${static_server},v=${static_res_version})}"></script>
	<script type="text/javascript">
		$(function() {
			$("#orgName").lac2FieldTree({
				setting: {
					callback: {
						onClick: function(event, treeId, treeNode, clickFlag) {
							var parentId = treeNode.id;
							//if(parentId.indexOf('COM-') != -1 ){
							if(parentId.indexOf('-') != -1 ){
								//$("#parentId").val("0");
								//$("#parentId").val(parentId.substring(4));
								$("#parentId").val(parentId.substring(1));
								$("#orgName").val(treeNode.name);
								$("#parentClass").val("KhCompany");
							} else {
								$("#parentId").val(treeNode.id);
								$("#orgName").val(treeNode.name);
								$("#parentClass").val("KhDepartment");
							}
						}		
					}
				},
				url: ctx + "/SelfKhCompany/loadTree",
				cacheEnabled: true
			});
			
			$("#f_user_addedit").initLacForm(ctx + "/SelfKhUser/get?id=" + $("#id").val() + "&uuid=" + $("#uuid").val() + "&parentId=" + $("#parentId").val() + "&parentClass=" + $("#parentClass").val(), function(){
				$("#btn_user_save").permissionEnabled();
			});
	
			$("#btn_user_cancel").click(function() {
				LacTab.closeThisTab();
			});
			
			$("#btn_user_save").click(function() {
				$('#f_user_addedit').saveClose();
			});
			
			$("#f_user_addedit").validationEngine("attach", { notShowPrompt : true }).bindValidationEngineHelper();
		});
	</script>
</body>
</html>