<section class="find-tools">
      <div class="searchBox">
        <div class="pull-left"><i class="fa fa-user"></i>&nbsp;用户列表</div>
        <div class="pull-right">
          <ul>
          	<li th:if="${multi == true}"><button class="btn-khuser-selects btn btn-block btn-info btn-sm"><i class="fa fa-check"></i>&nbsp;选择用户</button></li>
            <li><button class="btn-superSearch-khuser btn btn-block btn-default btn-sm"><i class="fa fa-search-plus"></i></button></li>
            <li><button class="btn_khuser_search btn btn-block btn-default btn-sm"><i class="fa fa-search"></i></button></li>
             <li>
            	<form id="f_khuser_search" class="form-inline">
            		<input type="text" id="name" name="name" oper="cn" stype="S" class="form-control form-search" placeholder="名称快速查询">
            	</form>
            </li>
          </ul>
        </div>
      </div>

		<div class="superSearch">
			<form id="f_khuser_search_s" class="form-inline">
				<div class="form-group">
					<label class="control-label">姓名：</label>
					<div class="control-inline">
						<input type="text" id="name" name="name" oper="cn" stype="S" class="form-control form-search" placeholder="用户姓名">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">手机：</label>
					<div class="control-inline">
						<input type="text" id="mobile" name="mobile" oper="cn" stype="S" class="form-control form-search" placeholder="用户手机">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">状态：</label>
					<div class="control-inline">
						<select class="form-control form-search" id="status" name="status" oper="eq" stype="I">
							<option value="">全部</option>
							<option value="0">启用</option>
							<option value="1">禁用</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<button type="button" class="btn btn-primary btn-sm btn_khuser_search_s">查询</button>
					<button type="reset" class="btn btn-default btn-sm">重置</button>
				</div>
			</form>
		</div>
	</section>

	<section class="content">
		<table id="dt_khuser" class="table table-bordered table-striped" style="width:100%">
			<thead>
				<tr>
					<th>用户姓名</th>
					<th>登录账号</th>
					<th>部门</th>
					<th>手机</th>
					<th>状态</th>
					<th th:if="${multi == false}">操作</th>
					<th>UUID</th>
					<th>ID</th>
				</tr>
			</thead>
		</table>
	
	</section>
	
<script th:inline="javascript">

	/*<![CDATA[*/
	var rules4KhUser = /*[[${cnds}]]*/ '';
	var multi4KhUser = /*[[${multi}]]*/ '';
	/*]]>*/
	
	var dtable4KhUser, curRow4KhUser;
	
	function getCnds4Khuser(){
		return rules4KhUser || [];
	}

	$(function() {
		initDataTable4KhUser();
		bindEvents4DataTable4KhUser();
	});

	function bindEvents4DataTable4KhUser() {
		/* 快速查询 */
		$(".btn_khuser_search").on("click", function() {
			$('.btn-superSearch-khuser').removeClass('active');
			$('.superSearch').css('display', 'none');
			$("#f_khuser_search").search4DataTable(dtable4KhUser, rules4KhUser);
		});

		$(".btn_khuser_search_s").on(
				"click",
				function() {
					$("#f_khuser_search_s").search4DataTable(dtable4KhUser, rules4KhUser);
				});

		$('.btn-superSearch-khuser').on(
				'click',
				function() {
					$('.btn_khuser_search').removeClass('active');
					$(this).toggleClass('active');
					if ($(this).hasClass('active')) {
						$("#f_khuser_search").hide();
						$(".btn_khuser_search").hide();
					} else {
						$("#f_khuser_search").show();
						$(".btn_khuser_search").show();
					}
					$(this).parents('.find-tools').find('.superSearch')
							.slideToggle('fast');
				});

		$('#dt_khuser tbody').on('click', '.btn-khuser-select', function(event) {
			curRow4KhUser = dtable4KhUser.row($(this).parents('tr'));
			var data = curRow4KhUser.data();
			LAC.getModel("dlg_self_khuser_select").getCallback()(data);
		});
		
		$(".btn-khuser-selects").on("click", function() {		
			var rows = dtable4KhUser.rows('.selected').data();
			if (rows && rows.length < 1) {
				LAC.showWarn("请至少选择一行。");
			} else {
				LAC.getModel("dlg_self_khuser_select").getCallback()(rows);
			}
		});

	}

	function initDataTable4KhUser() {
		var options = {
				order : [ [ 7, "desc" ] ],
				url : ctx + "/SelfKhUser/page4Select",
				autoCheckBox : multi4KhUser?true:false,
				cnds : getCnds4Khuser,
				columns : [
						{
							"data" : "name",
							"width" : "100px",
							"defaultContent" : "",
							"render" : function(data, type, row) {
								return '<i class="text-info btn-khuser-select" style="cursor:pointer">'
										+ data + '</i>';
							}
						},
						{
							"data" : "account",
							"width" : "100px",
							"defaultContent" : ""
						},
						{
							"data" : "orgName",
							"width" : "100px",
							"orderable" : false,
							"defaultContent" : ""
						},
						{
							"data" : "mobile",
							"width" : "60px",
							"defaultContent" : ""
						},
						{
							"data" : "status",
							"width" : "40px",
							"render" : function(data, type, row) {
								if (data == 0) {
									return '<span class="badge badge-success">正常</span>';
								} else if (data == 1) {
									return '<span class="badge badge-danger">停用</span>';
								} else {
									return "";
								}
							}
						},
						{
							"data" : null,
							"defaultContent" : "",
							"width" : "30px",
							"orderable" : false,
							"searchable" : false,
							"render" : function(data, type, row) {
								return '<span class="badge bg-info btn-block btn-khuser-select" style="cursor:pointer">选择</span>';
							}
						}, {
							"data" : "uuid",
							"visible" : false
						}, {
							"data" : "id",
							"visible" : false
						} ]
			};
		
		if(multi4KhUser == true){
			options.columns.splice(5,1);
		}
		dtable4KhUser = $('#dt_khuser').LacDTable(options);
	}
</script>