i{
	font-style:normal;
}
.nav-fixed{
    position: fixed;
    width: 100%;
    z-index: 1000;
    top:0;
    left: 0;
}
.content-wrapper{
    overflow: hidden;
    min-height: inherit!important;
}
@media (min-width: 350px){
    .content-tabs {
        border-bottom: solid 2px #e7ebee;
        background: #fff !important;
        border-top: none;
        height: 41px;
    }
    .content-tabs {
        position: relative;
        height: 42px;
        line-height: 39.5px;
        background: #fafafa;
        border-bottom: solid 2px #2c3e50;
        font-size: 12px;
        border-top: 1px solid #ddd;
    }
    .content-tabs button {
        background: #fff;
        border: 0;
        height: 39px;
        line-height: 39px;
        width: 40px;
        outline: 0;
    }
    .content-tabs .roll-nav {
        position: absolute;
        width: 40px;
        height: 39px;
        text-align: center;
        color: #475059;
        z-index: 2;
        top: 0;
    }
    .content-tabs nav.page-tabs {
        margin-left: 40px;
        width: 100000px;
        height: 40px;
        overflow: hidden;
    }
    .content-tabs nav.page-tabs .page-tabs-content {
        float: left;
    }
    .content-tabs .page-tabs a {
        display: block;
        float: left;
        border-right: solid 0px #ddd;
        padding: 0 15px;
        padding-right: 8px;
        text-decoration: none;
        color: #475059;
    }
    .content-tabs .page-tabs a:first-child {
        padding-right: 15px;
    }
    .content-tabs .page-tabs a {
        display: block;
        float: left;
        border-right: solid 0px #ddd;
        padding: 0 15px;
        padding-right: 8px;
        text-decoration: none;
        color: #475059;
    }
    .content-tabs .page-tabs a.active {
        background: #2c3e50;
        color: #fff;
        border-right: solid 1px #2c3e50;
    }

    .content-tabs button {
        background: #fff;
        border: 0;
        height: 39px;
        line-height: 39px;
        width: 40px;
        outline: 0;
    }
    .content-tabs .roll-nav {
        position: absolute;
        width: 40px;
        height: 39px;
        text-align: center;
        color: #475059;
        z-index: 2;
        top: 0;
    }
    .content-tabs .roll-right {
        right: 0;
        border-left: solid 1px #ddd;
    }
    .content-tabs .roll-right.tabRight {
        right: 120px;
    }


    .content-tabs .roll-nav {
        position: absolute;
        width: 40px;
        height: 39px;
        text-align: center;
        color: #475059;
        z-index: 2;
        top: 0;
    }
    .content-tabs .roll-right {
        right: 0;
        border-left: solid 1px #ddd;
    }
    .content-tabs .roll-right.btn-group {
        right: 40px;
        width: 80px;
        padding: 0;
    }
    .content-tabs button {
        background: #fff;
        border: 0;
        height: 39px;
        line-height: 39px;
        width: 40px;
        outline: 0;
    }
    .content-tabs .roll-right.btn-group button {
        width: 80px;
    }
}
.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    font-size:.8rem;
    white-space: nowrap;
}
.tabs_box>.tab-pane {
    display: none;
}
.tabs_box>.tab-pane.active {
    display: block;
}

/*6.15新增的*/
#fullBox{
    overflow: hidden;
}


/*弹出框的样式修改*/
.modal {
    background: rgba(0,0,0,0.3);
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}
.fade.in {
    opacity: 1;
}
.modal {
    background: rgba(0,0,0,0.3);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}
.modal.in .modal-dialog {
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
    position: relative;
    width: auto;
    margin: 10px auto;
}
.modal-content {
    border-radius: 0;
    -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.125);
    box-shadow: 0 2px 3px rgba(0,0,0,0.125);
    border: 0;
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border-radius: 6px;
    outline: 0;
}
.modal-header {
    border-bottom-color: #f4f4f4;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    display:block;
}
.modal-body {
    position: relative;
    padding: 6px;
}
.modal-footer {
    border-top-color: #f4f4f4;
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}
.modal-title {
    margin: 0;
    line-height: 1.42857143;
    font-size:18px;
}
button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}
.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}
p {
    margin: 0 0 10px;
}
.pull-left {
    float: left!important;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.modal-footer{
    display:block;
}

.modal-footer .btn+.btn {
    margin-bottom: 0;
    margin-left: 5px;
}

/*modal-info*/
.bg-red, .bg-yellow, .bg-aqua, .bg-blue, .bg-light-blue, .bg-green, .bg-navy, .bg-teal, .bg-olive, .bg-lime, .bg-orange, .bg-fuchsia, .bg-purple, .bg-maroon, .bg-black, .bg-red-active, .bg-yellow-active, .bg-aqua-active, .bg-blue-active, .bg-light-blue-active, .bg-green-active, .bg-navy-active, .bg-teal-active, .bg-olive-active, .bg-lime-active, .bg-orange-active, .bg-fuchsia-active, .bg-purple-active, .bg-maroon-active, .bg-black-active, .callout.callout-danger, .callout.callout-warning, .callout.callout-info, .callout.callout-success, .alert-success, .alert-danger, .alert-error, .alert-warning, .alert-info, .label-danger, .label-info, .label-warning, .label-primary, .label-success, .modal-primary .modal-body, .modal-primary .modal-header, .modal-primary .modal-footer, .modal-warning .modal-body, .modal-warning .modal-header, .modal-warning .modal-footer, .modal-info .modal-body, .modal-info .modal-header, .modal-info .modal-footer, .modal-success .modal-body, .modal-success .modal-header, .modal-success .modal-footer, .modal-danger .modal-body, .modal-danger .modal-header, .modal-danger .modal-footer
.bg-aqua-active, .modal-info .modal-header, .modal-info .modal-footer {
    background-color: #00a7d0 !important;
    color: #fff !important;
}

element.style {
}
.bg-aqua-active, .modal-info .modal-header, .modal-info .modal-footer {
    background-color: #00a7d0 !important;
}
.bg-red, .bg-yellow, .bg-aqua, .bg-blue, .bg-light-blue, .bg-green, .bg-navy, .bg-teal, .bg-olive, .bg-lime, .bg-orange, .bg-fuchsia, .bg-purple, .bg-maroon, .bg-black, .bg-red-active, .bg-yellow-active, .bg-aqua-active, .bg-blue-active, .bg-light-blue-active, .bg-green-active, .bg-navy-active, .bg-teal-active, .bg-olive-active, .bg-lime-active, .bg-orange-active, .bg-fuchsia-active, .bg-purple-active, .bg-maroon-active, .bg-black-active, .callout.callout-danger, .callout.callout-warning, .callout.callout-info, .callout.callout-success, .alert-success, .alert-danger, .alert-error, .alert-warning, .alert-info, .label-danger, .label-info, .label-warning, .label-primary, .label-success, .modal-primary .modal-body, .modal-primary .modal-header, .modal-primary .modal-footer, .modal-warning .modal-body, .modal-warning .modal-header, .modal-warning .modal-footer, .modal-info .modal-body, .modal-info .modal-header, .modal-info .modal-footer, .modal-success .modal-body, .modal-success .modal-header, .modal-success .modal-footer, .modal-danger .modal-body, .modal-danger .modal-header, .modal-danger .modal-footer {

}
.bg-aqua, .callout.callout-info, .alert-info, .label-info, .modal-info .modal-body {
    background-color: #00c0ef !important;
}
.modal-info .modal-header, .modal-info .modal-footer {
    border-color: #0097bc;
}
.btn-outline {
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
}
/*modal-danger*/
.bg-red-active, .modal-danger .modal-header, .modal-danger .modal-footer {
    background-color: #d33724 !important;
}
.modal-danger .modal-header, .modal-danger .modal-footer {
    border-color: #c23321;
}
.bg-red, .callout.callout-danger, .alert-danger, .alert-error, .label-danger, .modal-danger .modal-body {
    background-color: #dd4b39 !important;
}
.modal-danger .modal-header, .modal-danger .modal-footer {
    border-color: #c23321;
}
/*modal-waring*/
.modal-warning .modal-header, .modal-warning .modal-footer {
    border-color: #c87f0a;
}
.bg-yellow, .callout.callout-warning, .alert-warning, .label-warning, .modal-warning .modal-body {
    background-color: #f39c12 !important;
}
.bg-yellow-active, .modal-warning .modal-header, .modal-warning .modal-footer {
    background-color: #db8b0b !important;
}
/*modal-success*/
.bg-green-active, .modal-success .modal-header, .modal-success .modal-footer {
    background-color: #008d4c !important;
}
.bg-green, .callout.callout-success, .alert-success, .label-success, .modal-success .modal-body {
    background-color: #00a65a !important;
}
.bg-green-active, .modal-success .modal-header, .modal-success .modal-footer {
    background-color: #008d4c !important;
}
.modal-success .modal-header, .modal-success .modal-footer {
    border-color: #00733e;
}

/*-------------------------------------box的样式修改---------------------------------------*/
.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.box-header.with-border {
    border-bottom: 1px solid #f4f4f4;
}
.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
}
.box-header>.fa, .box-header>.glyphicon, .box-header>.ion, .box-header .box-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
}
.box-header>.box-tools {
    position: absolute;
    right: 10px;
    top: 5px;
}
.btn-box-tool {
    padding: 5px;
    font-size: 12px;
    background: transparent;
    color: #97a0b3;
}
.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}
.btn.btn-box-tool{
    color:#fff;
}
.box.box-solid.box-default {
    border:1px solid #d2d6de;
}
.box.box-solid.box-default>.box-header {
    color: #fff;
    background-color: #d2d6de;
}
.box.box-solid.box-success {
    border:1px solid  #00a65a;
}
.box.box-solid.box-success>.box-header {
    color: #fff;
    background-color: #00a65a;
}
.box.box-warning.box-solid {
    border:1px solid #f39c12;
}
.box.box-solid.box-warning>.box-header {
    color: #fff;
    background-color: #f39c12;
}
.box.box-danger.box-solid {
    border:1px solid #dd4b39;
}
.box.box-solid.box-danger>.box-header {
    color: #fff;
    background-color: #dd4b39;
}
.box.box-info.box-solid {
    border:1px solid #3c8dbc;
}
.box.box-solid.box-info>.box-header {
    color: #fff;
    background-color: #3c8dbc;
}

.card-title  {
	font-size: 1rem;
	font-weight: bold;
}

.card .nav.flex-column>li.active {
	background-color: #b0bed9;
}

table.dataTable tbody tr.selected {
    background-color: #b0bed9;
}

/*表格的行距变小*/
.table td, .table th{
    padding:6px;
}
.table thead tr th {
	padding: .75rem .5rem;
	font-size: 1rem;
	line-height: 1.2;
}

.help-block {
	position: absolute;
	bottom: -18px;
	left: 100px;
	color: red;
}

.input-group-text {
	width: 100px;
}

/* 工作区列表页面头上搜索区域样式 *************************/
.find-tools {
	background: #fff;
	overflow: hidden;
	/* margin-bottom: 5px; */
}

.find-tools li {
	list-style: none;
	float: right;
	margin-left: 10px;
}

.search, .superSearch {
	clear: both;
	display: none;
	padding: 6px 10px 0;
}

.find-tools button.active {
	background-color: #d4d4d4;
}

.btn:not (:disabled ):not (.disabled ) {
	box-shadow: none !important;
}

.searchBox {
	border-bottom: 1px solid #d4d4d4;
	overflow: hidden;
	padding: 6px 6px;
}

.searchBox>.pull-left>ul {
	padding-left: 0;
}

.searchBox>.pull-left>ul>li {
	height: 34px;
	line-height: 34px;
}

.form-inline .control-inline {
	display: inline-block;
	width: auto;
	vertical-align: middle;
}

.form-inline {
	font-size: 14px;
}

.form-search {
	padding: 3px 6px 4px;
	height: 34px !important;
	font-size: 14px;
}

.form-inline .form-group {
	margin-bottom: 10px;
	margin-right: 6px;
}

.form-group button {
	margin-right: 10px;
}

.nav {
    line-height: 1.0;
}
.icon-btn{
	line-height: initial;
    border: none;
    background: transparent;
    cursor:pointer;
}
.icon-btn[disabled='disabled'] i{
	color:#b5b2b2!important
}

.icon-btn[disabled='disabled']:hover
{
	cursor: not-allowed
}

.helpMargin{
	margin: 20px 0px 40px 30px;
}