<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>帮助</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" th:href="@{{path}/AdminLTE3/font-awesome/4.4.0/css/font-awesome.min.css(path=${static_server},v=${static_res_version})}">
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" th:href="@{{path}/AdminLTE3/ionicons/2.0.1/css/ionicons.min.css(path=${static_server},v=${static_res_version})}">
<link rel="stylesheet" href="../../plugins/datatables/dataTables.bootstrap4.css" th:href="@{{path}/plugins/datatables/dataTables.bootstrap4.css(path=${static_server},v=${static_res_version})}">
<link rel="stylesheet" href="../../AdminLTE3/css/adminlte.min.css" th:href="@{{path}/AdminLTE3/css/adminlte.min.css(path=${static_server},v=${static_res_version})}">
<link rel="stylesheet" href="../../plugins/iCheck/square/blue.css" th:href="@{{path}/plugins/iCheck/square/blue.css(path=${static_server},v=${static_res_version})}">
<link href="https://fonts.proxy.ustclug.org/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet" th:href="@{{path}/AdminLTE3/googleapis-fonts/fonts.css(path=${static_server},v=${static_res_version})}">
<link href="../../AdminLTE3/css/index.css" th:href="@{{path}/AdminLTE3/css/index.css(path=${static_server},v=${static_res_version})}" rel="stylesheet">
</head>
<body class="hold-transition">
	<section class="find-tools">
      <div class="searchBox">
        <div class="pull-left"><i class="fa fa-th-large"></i>&nbsp;帮助</div>
      </div>
      <div class="helpMargin">
      	<h3>工作人员常见问题</h3>
      </div>
     <div class="helpMargin">
     	<h5>想要新增一个村？怎么开通账号？</h5>
     	<h5>答：超级管理员-登录后台-村/小区管理页面，完成新增则村管理员账号创建，使用村管理员账号登录后台，添加本村人员和设备信息。（账号为单位电话，初始密码为单位电话，密码可登录后台自行修改）</h5>
      </div>
      <div class="helpMargin">
      	<h5>怎么给住户、商户登记/绑卡呢？</h5>
      	<h5>答：登录小程序-首页-住户管理/小店管理页面，新增住户/商户信息完成登记，绑卡/注销则需要您根据住户/商户名称检索到指定对象，进入详情页完成操作。</h5>
      </div>
      <div class="helpMargin">
      	<h5>兑换机怎么补货？</h5>
      	<h5>答：登录后台-商品管理-商品积分设置页面，设置商品积分，设置完成后可在兑换机补换货页面查看本村兑换机兑换商品剩余情况。若兑换机商品不足，则需给兑换机及时补货。补货完成后，登录小程序-首页-补换货页面添加您补货的商品。</h5>
      </div>
      <div class="helpMargin">
      	<h5>怎么给商户结算？</h5>
      	<h5>答：登录后台-商户管理页面，检索到指定商户，点击对应列表栏结算按钮，输入本次商户结算的积分和金额。</h5>
      </div>
	</section>

	<script th:replace="page/base/global :: jsVar"></script>
	<script src="../../plugins/jquery/jquery.min.js" th:src="@{{path}/plugins/jquery/jquery.min.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../plugins/jQueryUI/jquery-ui.min.js" th:src="@{{path}/plugins/jQueryUI/jquery-ui.min.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../plugins/jqueryForm-4.2.2/jquery.form.min.js" th:src="@{{path}/plugins/jqueryForm-4.2.2/jquery.form.min.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js" th:src="@{{path}/plugins/bootstrap/js/bootstrap.bundle.min.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../plugins/datatables/jquery.dataTables.js" th:src="@{{path}/plugins/datatables/jquery.dataTables.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../plugins/datatables/dataTables.bootstrap4.js" th:src="@{{path}/plugins/datatables/dataTables.bootstrap4.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../plugins/iCheck/icheck.min.js" th:src="@{{path}/plugins/iCheck/icheck.min.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../lac/json2.js" th:src="@{{path}/lac/json2.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../lac/utils.js" th:src="@{{path}/lac/utils.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../lac/lac2Tab.js" th:src="@{{path}/lac/lac2Tab.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../lac/lac2.js" th:src="@{{path}/lac/lac2.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../lac/lac2DataTables.js" th:src="@{{path}/lac/lac2DataTables.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../lac/lac2Dialog.js" th:src="@{{path}/lac/lac2Dialog.js(path=${static_server},v=${static_res_version})}"></script>
<script>
	var dtable4Cleaner, curRow4Cleaner;

	$(function() {
		initDataTable4Cleaner();
		bindEvents4DataTable4Cleaner();
	});

	function bindEvents4DataTable4Cleaner() {

	}
</script>
</body>
</html>
