<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>给角色分配人员</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" th:href="@{{path}/AdminLTE2410/bower_components/bootstrap/dist/css/bootstrap.min.css(path=${static_server},v=${static_res_version})}">
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css" th:href="@{{path}/AdminLTE2410/bower_components/font-awesome/css/font-awesome.min.css(path=${static_server},v=${static_res_version})}">
  <link rel="stylesheet" href="bower_components/Ionicons/css/ionicons.min.css" th:href="@{{path}/AdminLTE2410/bower_components/Ionicons/css/ionicons.min.css(path=${static_server},v=${static_res_version})}">
  <link rel="stylesheet" href="plugins/iCheck/square/blue.css" th:href="@{{path}/AdminLTE2410/plugins/iCheck/square/blue.css(path=${static_server},v=${static_res_version})}">
  <link rel="stylesheet" href="bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" th:href="@{{path}/AdminLTE2410/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css(path=${static_server},v=${static_res_version})}">
  <link rel="stylesheet" href="dist/css/AdminLTE.min.css" th:href="@{{path}/AdminLTE2410/dist/css/AdminLTE.min.css(path=${static_server},v=${static_res_version})}">
  <link rel="stylesheet" href="dist/css/index.css" th:href="@{{path}/AdminLTE2410/dist/css/index.css(path=${static_server},v=${static_res_version})}">
  <link rel="stylesheet" href="dist/css/skins/_all-skins.min.css" th:href="@{{path}/AdminLTE2410/dist/css/skins/_all-skins.min.css(path=${static_server},v=${static_res_version})}">
  <link href="plugins/ztree/css/zTreeStyle/zTreeStyle.css" th:href="@{{path}/AdminLTE2410/plugins/ztree/css/zTreeStyle/zTreeStyle.css(path=${static_server},v=${static_res_version})}" rel="stylesheet">
  <link href="plugins/ztree/css/metroStyle/metroStyle.css" th:href="@{{path}/AdminLTE2410/plugins/ztree/css/metroStyle/metroStyle.css(path=${static_server},v=${static_res_version})}" rel="stylesheet">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic" th:href="@{{path}/AdminLTE2410/bower_components/fonts.googleapis/fonts.css(path=${static_server},v=${static_res_version})}">
  <style>
	.searchBox>.pull-left>ul{
		padding-left:0;
	}
	.searchBox>.pull-left>ul>li{
		height:34px;
		line-height:34px;
	}
  </style>
</head>
<body class="hold-transition skin-blue sidebar-mini">
	<section class="find-tools">
      <div class="searchBox">
        <div class="pull-left">
          <ul>
            <li>
            	<form id="f_role_search" class="form-inline">
            		&nbsp;&nbsp;&nbsp;&nbsp;当前角色： 
            		<select class="form-control form-search" th:value="${roleId}" id="roleId" name="roleId" oper="eq" stype="I">
						<option th:each="r : ${ roles }" th:value="${r.id}" th:data-uuid="${r.uuid}" th:text="${r.name}" th:selected="${r.id == roleId}">请选择角色</option>
					</select>
				</form>
            </li>
            <li><i class="fa fa-th-large"></i>&nbsp;角色已分配人员列表</li>
          </ul>
        </div>
        <div class="pull-right">
          <button class="btn-user-add btn btn-block btn-primary btn-sm"><i class="fa fa-plus"></i>&nbsp;新增分配人员</button>
        </div>
      </div>
	</section>

	<section class="content">
		<table id="dt_user" class="table table-bordered table-striped" style="width: 100%">
			<thead>
				<tr>
					<th>用户姓名</th>
					<th>登录账号</th>
					<th>部门</th>
					<th>手机</th>
					<th>状态</th>
					<th>操作</th>
					<th>UUID</th>
					<th>ID</th>
				</tr>
			</thead>
		</table>
	</section>

<script th:replace="page/base/global :: jsVar"></script>
<script src="bower_components/jquery/dist/jquery.min.js" th:src="@{{path}/AdminLTE2410/bower_components/jquery/dist/jquery.min.js(path=${static_server},v=${static_res_version})}"></script>
<script src="bower_components/jquery-ui/jquery-ui.min.js" th:src="@{{path}/AdminLTE2410/bower_components/jquery-ui/jquery-ui.min.js(path=${static_server},v=${static_res_version})}"></script>
<script>
  $.widget.bridge('uibutton', $.ui.button);
</script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js" th:src="@{{path}/AdminLTE2410/bower_components/bootstrap/dist/js/bootstrap.min.js(path=${static_server},v=${static_res_version})}"></script>
<script src="bower_components/jquery-slimscroll/jquery.slimscroll.min.js" th:src="@{{path}/AdminLTE2410/bower_components/jquery-slimscroll/jquery.slimscroll.min.js(path=${static_server},v=${static_res_version})}"></script>
<script src="bower_components/fastclick/lib/fastclick.js" th:src="@{{path}/AdminLTE2410/bower_components/fastclick/lib/fastclick.js(path=${static_server},v=${static_res_version})}"></script>
<script src="dist/js/adminlte.min.js" th:src="@{{path}/AdminLTE2410/dist/js/adminlte.min.js(path=${static_server},v=${static_res_version})}"></script>
<script src="dist/js/demo.js" th:src="@{{path}/AdminLTE2410/dist/js/demo.js(path=${static_server},v=${static_res_version})}"></script>
<script src="plugins/iCheck/icheck.min.js" th:src="@{{path}/AdminLTE2410/plugins/iCheck/icheck.min.js(path=${static_server},v=${static_res_version})}"></script>
<script src="bower_components/datatables.net/js/jquery.dataTables.min.js" th:src="@{{path}/AdminLTE2410/bower_components/datatables.net/js/jquery.dataTables.min.js(path=${static_server},v=${static_res_version})}"></script>
<script src="bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js" th:src="@{{path}/AdminLTE2410/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../AdminLTE2410/plugins/ztree/js/jquery.ztree.all.min.js" th:src="@{{path}/AdminLTE2410/plugins/ztree/js/jquery.ztree.all.min.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../lac/json2.js" th:src="@{{path}/lac/json2.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../lac/utils.js" th:src="@{{path}/lac/utils.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../lac/lac2.js" th:src="@{{path}/lac/lac2.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../lac/lac2Tab.js" th:src="@{{path}/lac/lac2Tab.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../lac/lac2Menu.js" th:src="@{{path}/lac/lac2Menu.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../lac/lac2FieldTree.js" th:src="@{{path}/lac/lac2FieldTree.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../lac/lac2Dialog.js" th:src="@{{path}/lac/lac2Dialog.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../lac/lac2DataTables.js" th:src="@{{path}/lac/lac2DataTables.js(path=${static_server},v=${static_res_version})}"></script>
<script th:inline="javascript">
	
	/*<![CDATA[*/
	var roleId = /*[[${roleId}]]*/ '';
	var roleUuid = /*[[${roleUuid}]]*/ '';
	var roleName = /*[[${roleName}]]*/ '';
	/*]]>*/
	
	var dtable4User, curRow4User;
	
	function getCnds(){
		return [{ field: "roleId", data: roleId, op: "eq", type: "L" },{ field: "roleUuid", data: roleUuid, op: "eq", type: "S" },{ field: "status", data: 0, op: "eq", type: "I" }];
	}

	$(function() {
		if(roleId==null || roleUuid==null){
			var so = $("#roleId").find("option:selected");
			roleId = so.val();
			roleUuid = so.data("uuid");
			roleName = so.text();
		}
		
		initDataTable4User();
		bindEvents4DataTable4User();
		
		$('#roleId').on('change', function(){
			var so = $("#roleId").find("option:selected");
			roleId = so.val();
			roleUuid = so.data("uuid");
			roleName = so.text();
			dtable4User.draw();
		});
	});

	function bindEvents4DataTable4User() {
		$(".btn-user-add").on("click", function() {		
			var dlg = LAC.showModel({
				id : "dlg_user_select",
				type : "common",// primary common
				sizeCss : "modal-lg",
				title : "选择角色 ["+roleName+"] 要分配的用户",
				url :  ctx + "/YwUser/select?multi=true",
				data : getCnds(),
				method : "post",
				callback : function(data) {
					LAC.closeModel("dlg_user_select");
					//dlg.modal("hide");
					if(data){
						var iduuids = {};
						for (var i = 0; i < data.length; i++) {
							var rowData = data[i];
							iduuids[rowData.uuid] = rowData.id;
						}
						LAC.ajax({
		                    url: ctx + "/YwRole/addUsers?roleId="+roleId+"&roleUuid="+roleUuid,
		                    data: JSON2.stringify(iduuids),
		                    dataType: 'json',
		                    contentType: "application/json; charset=utf-8",
		                    success: function (ret) {
		                        if (ret) {
		                        	for (var i = 0; i < data.length; i++) {
		    							var rowData = data[i];
		    							dtable4User.row.add(rowData).draw();
		    						}
		                            LAC.tip('操作成功!', 'success');
		                        }
		                    }
		                });
					}
				}
			});
		});

		$('#dt_user tbody').on('click', 'button.btn-user-del', function(event) {
			curRow4User = dtable4User.row($(this).parents('tr'));
			var rowData = curRow4User.data();
			var url = ctx + "/YwRole/removeUsers?roleId="+roleId+"&roleUuid="+roleUuid;
			var iduuids = {};
			iduuids[rowData.uuid] = rowData.id;
			LAC.confirmExecute(url, iduuids, function (ret) {
	            if (ret) {
	            	curRow4User.remove().draw( false );
	            } else {
	                LAC.tip("操作执行失败！！！", "error");
	            }
	        }, "你确定要执行此操作吗？", true);
		});

	}

	function initDataTable4User() {
		dtable4User = $('#dt_user').LacDTable(
				{
					order : [ [ 7, "desc" ] ],
					url : ctx + "/YwUser/page4Role",
					autoSequence : true,
					cnds : getCnds,
					columns : [
							{
								"data" : "name",
								"width" : "150px",
								"defaultContent" : ""
							}, {
								"data" : "account",
								"width" : "150px",
								"defaultContent" : ""
							}, {
								"data" : "orgName",
								"orderable" : false,
								"width" : "180px",
								"defaultContent" : ""
							}, {
								"data" : "mobile",
								"width" : "60px",
								"defaultContent" : ""
							}, {
								"data" : "status",
								"width" : "40px",
								"render" : function(data, type, row) {
									if (data == 0) {
										return '<span class="badge bg-green">正常</span>';
									} else if (data == 1) {
										return '<span class="badge bg-yellow">停用</span>';
									} else {
										return "";
									}
								}
							}, {
								"data" : null,
								"defaultContent" : "",
								"width" : "40px",
								"orderable" : false,
								"searchable" : false,
								"sClass" : "text-center",
								"render" : function(data, type, row) {
									return '<button class="btn-permed btn-user-del icon-btn" data-res="sys_role-m" title="删除角色关联用户"><i class="fa fa-trash-o text-red"></i></button>';
								}
							},{
								"data" : "uuid",
								"visible" : false
							}, {
								"data" : "id",
								"visible" : false
							} ]
				});

	}
</script>
</body>
</html>
