<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>子单位应用开通管理</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" th:href="@{{path}/AdminLTE3/font-awesome/4.4.0/css/font-awesome.min.css(path=${static_server},v=${static_res_version})}">
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" th:href="@{{path}/AdminLTE3/ionicons/2.0.1/css/ionicons.min.css(path=${static_server},v=${static_res_version})}">
<link rel="stylesheet" href="../../plugins/datatables/dataTables.bootstrap4.css" th:href="@{{path}/plugins/datatables/dataTables.bootstrap4.css(path=${static_server},v=${static_res_version})}">
<link rel="stylesheet" href="../../AdminLTE3/css/adminlte.min.css" th:href="@{{path}/AdminLTE3/css/adminlte.min.css(path=${static_server},v=${static_res_version})}">
<link rel="stylesheet" href="../../plugins/iCheck/square/blue.css" th:href="@{{path}/plugins/iCheck/square/blue.css(path=${static_server},v=${static_res_version})}">
<link href="https://fonts.proxy.ustclug.org/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet" th:href="@{{path}/AdminLTE3/googleapis-fonts/fonts.css(path=${static_server},v=${static_res_version})}">
<link href="../../AdminLTE3/css/index.css" th:href="@{{path}/AdminLTE3/css/index.css(path=${static_server},v=${static_res_version})}" rel="stylesheet">
<link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css" th:href="@{{path}/plugins/ztree/css/metroStyle/metroStyle.css(path=${static_server},v=${static_res_version})}" type="text/css">
<link rel="stylesheet" href="../../plugins/iCheck/all.css" th:href="@{{path}/plugins/iCheck/all.css(path=${static_server},v=${static_res_version})}">
<style>
	.searchBox>.pull-left>ul{
		padding-left:0;
	}
	.searchBox>.pull-left>ul>li{
		height:34px;
		line-height:34px;
	}
</style>
</head>
<body class="hold-transition">
	<section class="find-tools">
      <div class="searchBox">
        <div class="pull-left">
          <ul>
            <li>
            	<form id="f_search" class="form-inline">
            		&nbsp;&nbsp;&nbsp;&nbsp;当前单位： 
            		<select class="form-control form-search" th:value="${khCompanyId}" id="khCompanyId" name="khCompanyId" oper="eq" stype="I">
						<option value="" data-uuid="" th:selected="${''==khCompanyId}">所有子单位</option>
						<option th:each="r : ${ companies }" th:value="${r.id}" th:data-uuid="${r.uuid}" th:text="${r.name}" th:selected="${r.id == khCompanyId}">请选择子单位</option>
					</select>
				</form>
            </li>
            <li><i class="fa fa-th-large"></i>&nbsp;子单位已开通应用列表</li>
          </ul>
        </div>
        <div class="pull-right">
          <button class="btn-app-add btn btn-block btn-info btn-sm"><i class="fa fa-plus"></i>&nbsp;开通应用</button>
        </div>
      </div>
	</section>

	<section class="content">
		<table id="dt_app" class="table table-bordered table-striped" style="width:100%">
			<thead>
				<tr>
					<th>单位名称</th>
					<th>应用名称</th>
					<th>应用编码</th>
					<th>应用说明</th>
					<th>类型</th>
					<th>状态</th>
					<th>操作</th>
					<th>UUID</th>
					<th>ID</th>
				</tr>
			</thead>
		</table>
	</section>

	<script th:replace="page/base/global :: jsVar"></script>
	<script src="../../plugins/jquery/jquery.min.js" th:src="@{{path}/plugins/jquery/jquery.min.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../plugins/jQueryUI/jquery-ui.min.js" th:src="@{{path}/plugins/jQueryUI/jquery-ui.min.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../plugins/jqueryForm-4.2.2/jquery.form.min.js" th:src="@{{path}/plugins/jqueryForm-4.2.2/jquery.form.min.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js" th:src="@{{path}/plugins/bootstrap/js/bootstrap.bundle.min.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../plugins/datatables/jquery.dataTables.js" th:src="@{{path}/plugins/datatables/jquery.dataTables.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../plugins/datatables/dataTables.bootstrap4.js" th:src="@{{path}/plugins/datatables/dataTables.bootstrap4.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../plugins/iCheck/icheck.min.js" th:src="@{{path}/plugins/iCheck/icheck.min.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../lac/json2.js" th:src="@{{path}/lac/json2.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../lac/utils.js" th:src="@{{path}/lac/utils.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../lac/lac2Tab.js" th:src="@{{path}/lac/lac2Tab.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../lac/lac2.js" th:src="@{{path}/lac/lac2.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../lac/lac2DataTables.js" th:src="@{{path}/lac/lac2DataTables.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../lac/lac2Dialog.js" th:src="@{{path}/lac/lac2Dialog.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../lac/lac2FieldTree.js" th:src="@{{path}/lac/lac2FieldTree.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../plugins/ztree/js/jquery.ztree.all.min.js" th:src="@{{path}/plugins/ztree/js/jquery.ztree.all.min.js(path=${static_server},v=${static_res_version})}"></script>
	<script src="../../plugins/iCheck/icheck.min.js" th:src="@{{path}/plugins/iCheck/icheck.min.js(path=${static_server},v=${static_res_version})}"></script>
<script th:inline="javascript">
	
	/*<![CDATA[*/
	var khCompanyId = /*[[${khCompanyId}]]*/ '';
	var khCompanyUuid = /*[[${khCompanyUuid}]]*/ '';
	var khCompanyName = /*[[${khCompanyName}]]*/ '';
	/*]]>*/
	
	var dtable4App, curRow4App;
	
	function getCnds(){
		return [{ field: "khCompanyId", data: khCompanyId, op: "eq", type: "L" },{ field: "khCompanyUuid", data: khCompanyUuid, op: "eq", type: "S" },{ field: "status", data: 0, op: "eq", type: "I" },{ field: "command", data: "subKhCompanyApp4Perm", op: "eq", type: "S" }];
	}

	$(function() {
		if(khCompanyId==null || khCompanyUuid==null){
			var so = $("#khCompanyId").find("option:selected");
			khCompanyId = so.val();
			khCompanyUuid = so.data("uuid");
			khCompanyName = so.text();
		}
		
		initDataTable4App();
		bindEvents4DataTable4App();
		
		$('#khCompanyId').on('change', function(){
			var so = $("#khCompanyId").find("option:selected");
			khCompanyId = so.val();
			khCompanyUuid = so.data("uuid");
			khCompanyName = so.text();
			dtable4App.draw();
		});
	});

	function bindEvents4DataTable4App() {
		$(".btn-app-add").on("click", function() {		
			if(khCompanyId=="" || khCompanyUuid==""){
				LAC.showWarn("请选择一个客户单位再操作。");
				return;
			}
			var dlg = LAC.showModel({
				id : "dlg_role_app_select",
				type : "common",// primary common
				sizeCss : "modal-lg",
				title : "选择客户单位 ["+khCompanyName+"] 要开通的应用",
				url :  ctx + "/Application/select?multi=true",
				data : getCnds(),
				method : "post",
				callback : function(data) {
					LAC.closeModel("dlg_role_app_select");
					//dlg.modal("hide");
					if(data){
						var iduuids = {};
						for (var i = 0; i < data.length; i++) {
							var rowData = data[i];
							iduuids[rowData.uuid] = rowData.id;
						}
						LAC.ajax({
		                    url: ctx + "/SelfKhCompany/addApps?id="+khCompanyId+"&uuid="+khCompanyUuid,
		                    data: JSON2.stringify(iduuids),
		                    dataType: 'json',
		                    contentType: "application/json; charset=utf-8",
		                    success: function (ret) {
		                        if (ret) {
		                        	for (var i = 0; i < data.length; i++) {
		    							var rowData = data[i];
		    							dtable4App.row.add(rowData).draw();
		    						}
		                            LAC.tip('操作成功!', 'success');
		                        }
		                    }
		                });
					}
				}
			});
		});

		$('#dt_app tbody').on('click', 'button.btn-company-app-perms', function(event) {
			curRow4App = dtable4App.row($(this).parents('tr'));
			var rowData = curRow4App.data();
			var dlg = LAC.showModel({
				id : "dlg_kh_company-app-perms",
				type : "common",// primary common
				sizeCss : "modal-lg",
				title : "为客户单位 ["+rowData.ownerName+"] 设置应用["+rowData.name+"]的权限",
				url :  ctx + "/SelfKhCompany/comanyAppPerm?id="+rowData.ownerId+"&uuid="+rowData.ownerUuid+"&appId="+rowData.id+"&appUuid="+rowData.uuid,
				method : "post",
				callback : function(data) {
					LAC.closeModel("dlg_kh_company-app-perms");
				}
			});
		});
		
		$('#dt_app tbody').on('click', 'button.btn-app-del', function(event) {
			curRow4App = dtable4App.row($(this).parents('tr'));
			var rowData = curRow4App.data();
			var url = ctx + "/SelfKhCompany/removeApps?id="+rowData.ownerId+"&uuid="+rowData.ownerUuid;
			var iduuids = {};
			iduuids[rowData.uuid] = rowData.id;
			LAC.confirmExecute(url, iduuids, function (ret) {
	            if (ret) {
	            	curRow4App.remove().draw( false );
	            } else {
	                LAC.tip("操作执行失败！！！", "error");
	            }
	        }, "你确定要执行此操作吗？", true);
		});

	}

	function initDataTable4App() {
		dtable4App = $('#dt_app').LacDTable(
						{
							order : [ [ 8, "desc" ] ],
							url : ctx + "/Application/page4SubKhCompany",
							autoSequence : true,
							ordering: false,
							cnds : getCnds,
							columns : [
									{
										"data" : "ownerName",
										"width" : "180px",
										"defaultContent" : ""
									}, {
										"data" : "name",
										"width" : "180px",
										"defaultContent" : ""
									},{
										"data" : "code",
										"width" : "150px",
										"defaultContent" : ""
									}, {
										"data" : "remark",
										"orderable" : false,
										"defaultContent" : ""
									}, {
										"data" : "type",
										"width" : "40px",
										"render" : function(data, type, row) {
											if (data == 0) {
												return '<span class="badge badge-primary">内部</span>';
											} else if (data == 1) {
												return '<span class="badge badge-danger">外部</span>';
											} else {
												return "";
											}
										}
									}, {
										"data" : "status",
										"width" : "40px",
										"render" : function(data, type, row) {
											if (data == 0) {
												return '<span class="badge badge-success">正常</span>';
											} else if (data == 1) {
												return '<span class="badge badge-danger">停用</span>';
											} else {
												return "";
											}
										}
									}, {
										"data" : null,
										"defaultContent" : "",
										"width" : "60px",
										"orderable" : false,
										"searchable" : false,
										"render" : function(data, type, row) {
											return '<button class="btn-permed btn-company-app-perms icon-btn" data-res="selfkh_org_user-app_perm" title="应用授权"><i class="fa fa-check-circle-o text-info"></i></button>&nbsp;'
											+ '<button class="btn-permed btn-app-del icon-btn" data-res="selfkh_org_user-app_perm" title="应用删除"><i class="fa fa-trash-o text-danger"></i></button>';
										}
									}, {
										"data" : "uuid",
										"visible" : false
									}, {
										"data" : "id",
										"visible" : false
									} ]
						});

	}
</script>
</body>
</html>
