<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>数据字典管理</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" th:href="@{{path}/AdminLTE2410/bower_components/bootstrap/dist/css/bootstrap.min.css(path=${static_server},v=${static_res_version})}">
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css" th:href="@{{path}/AdminLTE2410/bower_components/font-awesome/css/font-awesome.min.css(path=${static_server},v=${static_res_version})}">
  <link rel="stylesheet" href="bower_components/Ionicons/css/ionicons.min.css" th:href="@{{path}/AdminLTE2410/bower_components/Ionicons/css/ionicons.min.css(path=${static_server},v=${static_res_version})}">
  <link rel="stylesheet" href="plugins/iCheck/square/blue.css" th:href="@{{path}/AdminLTE2410/plugins/iCheck/square/blue.css(path=${static_server},v=${static_res_version})}">
  <link rel="stylesheet" href="bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" th:href="@{{path}/AdminLTE2410/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css(path=${static_server},v=${static_res_version})}">
  <link rel="stylesheet" href="dist/css/AdminLTE.min.css" th:href="@{{path}/AdminLTE2410/dist/css/AdminLTE.min.css(path=${static_server},v=${static_res_version})}">
  <link rel="stylesheet" href="dist/css/index.css" th:href="@{{path}/AdminLTE2410/dist/css/index.css(path=${static_server},v=${static_res_version})}">
  <link rel="stylesheet" href="dist/css/skins/_all-skins.min.css" th:href="@{{path}/AdminLTE2410/dist/css/skins/_all-skins.min.css(path=${static_server},v=${static_res_version})}">
  <link href="plugins/ztree/css/zTreeStyle/zTreeStyle.css" th:href="@{{path}/AdminLTE2410/plugins/ztree/css/zTreeStyle/zTreeStyle.css(path=${static_server},v=${static_res_version})}" rel="stylesheet">
  <link href="plugins/ztree/css/metroStyle/metroStyle.css" th:href="@{{path}/AdminLTE2410/plugins/ztree/css/metroStyle/metroStyle.css(path=${static_server},v=${static_res_version})}" rel="stylesheet">
  <link href="../../lac/lac2TreeTable.css" th:href="@{{path}/lac/lac2TreeTable.css(path=${static_server},v=${static_res_version})}" rel="stylesheet">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic" th:href="@{{path}/AdminLTE2410/bower_components/fonts.googleapis/fonts.css(path=${static_server},v=${static_res_version})}">
</head>
<body class="hold-transition skin-blue sidebar-mini">
	<section class="find-tools">
      <div class="searchBox">
        <div class="pull-left"><i class="fa fa-th-large"></i>&nbsp;数据字典管理</div>
        <div class="pull-right">
          <ul>
            <li><button class="btn-permed btn-dict-add btn btn-block btn-primary btn-sm" data-res="sys_setup-dict"><i class="fa fa-plus"></i>&nbsp;新增字典</button></li>
          </ul>
        </div>
      </div>
	</section>

	<section class="content">
		<div class="row">
			<div class="col-md-5">
				<div class="container-fluid" style="margin:6px 0px 0px 0px;">
					<ul id="dataTree" class="ztree"></ul>
				</div>
			</div>
			<div class="col-md-7">
				<table id="dt_dict" class="table table-bordered table-striped" style="width:100%">
					<thead>
						<tr>
							<th>字典类型</th>
							<th>编码</th>
							<th>名称</th>
							<th>状态</th>
							<th>操作</th>
							<th>UUID</th>
							<th>ID</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
		
	</section>

<script th:replace="page/base/global :: jsVar"></script>
<script src="bower_components/jquery/dist/jquery.min.js" th:src="@{{path}/AdminLTE2410/bower_components/jquery/dist/jquery.min.js(path=${static_server},v=${static_res_version})}"></script>
<script src="bower_components/jquery-ui/jquery-ui.min.js" th:src="@{{path}/AdminLTE2410/bower_components/jquery-ui/jquery-ui.min.js(path=${static_server},v=${static_res_version})}"></script>
<script>
  $.widget.bridge('uibutton', $.ui.button);
</script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js" th:src="@{{path}/AdminLTE2410/bower_components/bootstrap/dist/js/bootstrap.min.js(path=${static_server},v=${static_res_version})}"></script>
<script src="bower_components/jquery-slimscroll/jquery.slimscroll.min.js" th:src="@{{path}/AdminLTE2410/bower_components/jquery-slimscroll/jquery.slimscroll.min.js(path=${static_server},v=${static_res_version})}"></script>
<script src="bower_components/fastclick/lib/fastclick.js" th:src="@{{path}/AdminLTE2410/bower_components/fastclick/lib/fastclick.js(path=${static_server},v=${static_res_version})}"></script>
<script src="dist/js/adminlte.min.js" th:src="@{{path}/AdminLTE2410/dist/js/adminlte.min.js(path=${static_server},v=${static_res_version})}"></script>
<script src="dist/js/demo.js" th:src="@{{path}/AdminLTE2410/dist/js/demo.js(path=${static_server},v=${static_res_version})}"></script>
<script src="plugins/iCheck/icheck.min.js" th:src="@{{path}/AdminLTE2410/plugins/iCheck/icheck.min.js(path=${static_server},v=${static_res_version})}"></script>
<script src="bower_components/datatables.net/js/jquery.dataTables.min.js" th:src="@{{path}/AdminLTE2410/bower_components/datatables.net/js/jquery.dataTables.min.js(path=${static_server},v=${static_res_version})}"></script>
<script src="bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js" th:src="@{{path}/AdminLTE2410/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../AdminLTE2410/plugins/ztree/js/jquery.ztree.all.min.js" th:src="@{{path}/AdminLTE2410/plugins/ztree/js/jquery.ztree.all.min.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../lac/json2.js" th:src="@{{path}/lac/json2.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../lac/utils.js" th:src="@{{path}/lac/utils.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../lac/lac2.js" th:src="@{{path}/lac/lac2.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../lac/lac2Tab.js" th:src="@{{path}/lac/lac2Tab.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../lac/lac2Menu.js" th:src="@{{path}/lac/lac2Menu.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../lac/lac2FieldTree.js" th:src="@{{path}/lac/lac2FieldTree.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../lac/lac2Dialog.js" th:src="@{{path}/lac/lac2Dialog.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../lac/lac2DataTables.js" th:src="@{{path}/lac/lac2DataTables.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../lac/lac2TreeTable.js" th:src="@{{path}/lac/lac2TreeTable.js(path=${static_server},v=${static_res_version})}"></script>
<script src="plugins/ztree/js/jquery.ztree.all.min.js" th:src="@{{path}/AdminLTE2410/plugins/ztree/js/jquery.ztree.all.min.js(path=${static_server},v=${static_res_version})}"></script>
<script>
	var dtable4Dict, curRow4Dict, curTreeNode;

	function addDictType(parentId){
		if(parentId == "DICT_TYPE_ROOT"){
			parentId = "0";
		}
		LAC.addRow4TreeTable("dataTree", ctx + '/dict/addDictType?parentId=' + parentId, 'DictType', '新增字典类型');
	}
	function editDictType(id,uuid){
		if(id != "DICT_TYPE_ROOT"){
			LAC.editCurRow4TreeTable("dataTree", ctx + '/dict/editDictType?id=' + id + "&uuid=" + uuid, 'DictType', '编辑字典类型');
		}
	}
	function delDictType(id,uuid){
		if(id != "DICT_TYPE_ROOT"){
			LAC.delete4TreeTable("dataTree", ctx + '/dict/deleteDictType?id=' + id + "&uuid=" + uuid);
		}
	}

	$(function() {
		$("#dataTree").treeTable({
			url : ctx + "/dict/loadDictTypeTree",
			defaultColumnWidth: '65%',
			defaultColumnName: '字典类型名称',
			//iconBasePath: ctx + "/lac/imgs/",
			expandAll: true,
			setting: {
				callback: {
					onClick: function(event, treeId, treeNode, clickFlag) {
						curTreeNode = treeNode;
						if(treeNode.id == "DICT_TYPE_ROOT" ){
							LAC.custSearch4DataTable(dtable4Dict, []);
						} else {
							LAC.custSearch4DataTable(dtable4Dict, [{field:'parentId', data: treeNode.id, op:'eq', type: 'L'}]);
						}
					}		
				}
			},
			callback: function(data){
				var treeObj = $.fn.zTree.getZTreeObj("dataTree");
				var nodes = treeObj.getNodes();
	        	if(nodes && nodes.length>0){
	        		for(var i=0; i<nodes.length; i++){
	        			var node = nodes[i];
	        			if(node.id == "DICT_TYPE_ROOT"){
	        				treeObj.selectNode(node);
	        				curTreeNode = node;
	        				break;
	    	        	}
	        		}
	        	}
			},
			columns : [
				{
					"feName" : "status",
					"fcName" : "状态",
					"width" : "15%",
					"render" : function(treeNode) {
						if (treeNode.status == 0) {
							return '<small class="badge bg-green">正常</small>';
						} else if (treeNode.status == 1) {
							return '<small class="badge bg-yellow">停用</small>';
						} else {
							return "";
						}
					}
				},
				{
					"feName" : "",
					"fcName" : "操作",
					"width" : "20%",
					"render" : function(treeNode) {
						var ret = '';
						ret += '<button title="添加子类型" class="btn-permed btn-dict-type-add icon-btn" data-res="sys_setup-dict" onclick="javascript:addDictType(\'' + treeNode.id + '\')"><i class="fa fa-plus text-green"></i></button>';
					    if(treeNode.pId){
					    	ret += '<button title="修改" class="btn-permed btn-dict-type-edit icon-btn" data-res="sys_setup-dict" onclick="javascript:editDictType(\'' + treeNode.id + '\',\'' + treeNode.uuid + '\')"><i class="fa fa-pencil text-green"></i></button>';
					    	ret += '<button title="删除" class="btn-permed btn-dict-type-del icon-btn" data-res="sys_setup-dict" onclick="javascript:delDictType(\'' + treeNode.id + '\',\'' + treeNode.uuid + '\')"><i class="fa fa-trash-o text-red"></i></button>';
					    }
					    return ret;
					}
				}
			]
		});

		initDataTable4Dict();
		bindEvents4DataTable4Dict();
		
		$(".btn-permed").permissionEnabled();
	});

	function bindEvents4DataTable4Dict() {
		/*编辑：工具栏上的新增按钮*/
		$(".btn-dict-add").on("click", function() {	
			if(!curTreeNode){
				LAC.showError("请先选择一个字典类型，然后再点击新增按钮。");
				return;
			}
			var parentId = curTreeNode.id;
			if(parentId == "DICT_TYPE_ROOT"){
				LAC.showError("不能选择根节点，请重新选择一个字典类型，然后再点击新增按钮。");
				return;
			}
			LAC.addRow4DataTable(dtable4Dict, ctx + '/dict/edit?parentId=' + parentId, 'Dict', '新增字典');
		});

		$('#dt_dict tbody').on('click', 'button.btn-dict-edit', function(event) {
			curRow4Dict = dtable4Dict.row($(this).parents('tr'));
			LAC.editCurRow4DataTable(curRow4Dict, ctx + '/dict/edit', 'Dict', '编辑字典');
		});

		$('#dt_dict tbody').on('click', 'button.btn-dict-del', function(event) {
			curRow4Dict = dtable4Dict.row($(this).parents('tr'));
			LAC.delete4DataTable(curRow4Dict, ctx + '/dict/delete');
		});

	}

	function initDataTable4Dict() {
		dtable4Dict = $('#dt_dict').LacDTable(
			{
				order : [ [ 6, "desc" ] ],
				url : ctx + "/dict/page",
				mapUnderscoreToCamelCase : false,
				columns : [
						{
							"data" : "parentName",
							"width" : "60px",
							"defaultContent" : ""
						}, {
							"data" : "govCode",
							"width" : "100px",
							"defaultContent" : ""
						}, {
							"data" : "name",
							"width" : "100px",
							"orderable" : false,
							"defaultContent" : ""
						}, {
							"data" : "status",
							"width" : "30px",
							"render" : function(data, type, row) {
								if (data == 0) {
									return '<span class="badge bg-green">正常</span>';
								} else if (data == 1) {
									return '<span class="badge bg-yellow">停用</span>';
								} else {
									return "";
								}
							}
						}, {
							"data" : null,
							"defaultContent" : "",
							"width" : "40px",
							"orderable" : false,
							"searchable" : false,
							"render" : function(data, type, row) {
								return '<button class="btn-permed btn-dict-edit icon-btn" data-res="sys_setup-dict"><i class="fa fa-pencil text-green"></i></button><button class="btn-permed btn-dict-del icon-btn" data-res="sys_setup-dict"><i class="fa fa-trash-o text-red"></i></button>';
							}
						},{
							"data" : "uuid",
							"visible" : false
						}, {
							"data" : "id",
							"visible" : false
						} ],
				initComplete : function(setting, json) {
					$(".btn-permed").permissionEnabled();
				},
				drawCallback : function(setting) {
					$(".btn-permed").permissionEnabled();
				}
			});
	}
</script>
</body>
</html>
