<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>日志管理</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" th:href="@{{path}/AdminLTE2410/bower_components/bootstrap/dist/css/bootstrap.min.css(path=${static_server},v=${static_res_version})}">
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css" th:href="@{{path}/AdminLTE2410/bower_components/font-awesome/css/font-awesome.min.css(path=${static_server},v=${static_res_version})}">
  <link rel="stylesheet" href="bower_components/Ionicons/css/ionicons.min.css" th:href="@{{path}/AdminLTE2410/bower_components/Ionicons/css/ionicons.min.css(path=${static_server},v=${static_res_version})}">
  <link rel="stylesheet" href="plugins/iCheck/square/blue.css" th:href="@{{path}/AdminLTE2410/plugins/iCheck/square/blue.css(path=${static_server},v=${static_res_version})}">
  <link rel="stylesheet" href="bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" th:href="@{{path}/AdminLTE2410/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css(path=${static_server},v=${static_res_version})}">
  <link rel="stylesheet" href="dist/css/AdminLTE.min.css" th:href="@{{path}/AdminLTE2410/dist/css/AdminLTE.min.css(path=${static_server},v=${static_res_version})}">
  <link rel="stylesheet" href="dist/css/index.css" th:href="@{{path}/AdminLTE2410/dist/css/index.css(path=${static_server},v=${static_res_version})}">
  <link rel="stylesheet" href="dist/css/skins/_all-skins.min.css" th:href="@{{path}/AdminLTE2410/dist/css/skins/_all-skins.min.css(path=${static_server},v=${static_res_version})}">
  <link href="plugins/ztree/css/zTreeStyle/zTreeStyle.css" th:href="@{{path}/AdminLTE2410/plugins/ztree/css/zTreeStyle/zTreeStyle.css(path=${static_server},v=${static_res_version})}" rel="stylesheet">
  <link href="plugins/ztree/css/metroStyle/metroStyle.css" th:href="@{{path}/AdminLTE2410/plugins/ztree/css/metroStyle/metroStyle.css(path=${static_server},v=${static_res_version})}" rel="stylesheet">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic" th:href="@{{path}/AdminLTE2410/bower_components/fonts.googleapis/fonts.css(path=${static_server},v=${static_res_version})}">
</head>
<body class="hold-transition skin-blue sidebar-mini">
	<section class="find-tools">
      <div class="searchBox">
        <div class="pull-left"><i class="fa fa-th-large"></i>&nbsp;日志管理</div>
        <div class="pull-right">
          <ul>
            <li><button class="btn-super-search-log btn btn-block btn-default btn-sm"><i class="fa fa-search-plus"></i></button></li>
            <li><button class="btn-search-log btn btn-block btn-default btn-sm"><i class="fa fa-search"></i></button></li>
             <li>
            	<form id="f_app_search" class="form-inline">
            		<input type="text" id="module" name="module" oper="cn" stype="S" class="form-control form-search" placeholder="模块名称快速查询">
            	</form>
            </li>
          </ul>
        </div>
      </div>

		<div class="superSearch">
			<form id="f_app_search_s" class="form-inline">
				<div class="form-group">
					<label class="control-label">TID：</label>
					<div class="control-inline">
						<input type="text" id="tid" name="tid" oper="eq" stype="S" class="form-control form-search" placeholder="TID">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">模块名称：</label>
					<div class="control-inline">
						<input type="text" id="module" name="module" oper="cn" stype="S" class="form-control form-search" placeholder="模块名称">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">操作结果：</label>
					<div class="control-inline">
						<select class="form-control form-search" id="status" name="status" oper="eq" stype="I">
							<option value="">全部</option>
							<option value="0">成功</option>
							<option value="1">失败</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">操作时间 从：</label>
					<div class="control-inline">
						<input type="text" id="operateTime" name="operateTime" oper="ge" stype="D" class="form-control form-search" placeholder="操作时间开始">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">至：</label>
					<div class="control-inline">
						<input type="text" id="operateTime2" name="operateTime2" oper="le" stype="D" class="form-control form-search" placeholder="操作时间结束">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">IP地址：</label>
					<div class="control-inline">
						<input type="text" id="ip" name="ip" oper="eq" stype="S" class="form-control form-search" placeholder="IP地址">
					</div>
				</div>
				<div class="form-group">
					<button type="button" class="btn btn-primary btn-sm btn-search-log_s">查询</button>
					<button type="reset" class="btn btn-default btn-sm">重置</button>
				</div>
			</form>
		</div>
	</section>

	<section class="content">
		<table id="dt_app" class="table table-bordered table-striped" style="width:100%">
			<thead>
				<tr>
					<th>模块</th>
					<th>描述</th>
					<th>操作时间</th>
					<th>操作结果</th>
					<th>耗时</th>
					<th>IP地址</th>
					<th>UUID</th>
					<th>ID</th>
				</tr>
			</thead>
		</table>
	</section>

<script th:replace="page/base/global :: jsVar"></script>
<script src="bower_components/jquery/dist/jquery.min.js" th:src="@{{path}/AdminLTE2410/bower_components/jquery/dist/jquery.min.js(path=${static_server},v=${static_res_version})}"></script>
<script src="bower_components/jquery-ui/jquery-ui.min.js" th:src="@{{path}/AdminLTE2410/bower_components/jquery-ui/jquery-ui.min.js(path=${static_server},v=${static_res_version})}"></script>
<script>
  $.widget.bridge('uibutton', $.ui.button);
</script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js" th:src="@{{path}/AdminLTE2410/bower_components/bootstrap/dist/js/bootstrap.min.js(path=${static_server},v=${static_res_version})}"></script>
<script src="bower_components/jquery-slimscroll/jquery.slimscroll.min.js" th:src="@{{path}/AdminLTE2410/bower_components/jquery-slimscroll/jquery.slimscroll.min.js(path=${static_server},v=${static_res_version})}"></script>
<script src="bower_components/fastclick/lib/fastclick.js" th:src="@{{path}/AdminLTE2410/bower_components/fastclick/lib/fastclick.js(path=${static_server},v=${static_res_version})}"></script>
<script src="dist/js/adminlte.min.js" th:src="@{{path}/AdminLTE2410/dist/js/adminlte.min.js(path=${static_server},v=${static_res_version})}"></script>
<script src="dist/js/demo.js" th:src="@{{path}/AdminLTE2410/dist/js/demo.js(path=${static_server},v=${static_res_version})}"></script>
<script src="plugins/iCheck/icheck.min.js" th:src="@{{path}/AdminLTE2410/plugins/iCheck/icheck.min.js(path=${static_server},v=${static_res_version})}"></script>
<script src="bower_components/datatables.net/js/jquery.dataTables.min.js" th:src="@{{path}/AdminLTE2410/bower_components/datatables.net/js/jquery.dataTables.min.js(path=${static_server},v=${static_res_version})}"></script>
<script src="bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js" th:src="@{{path}/AdminLTE2410/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../AdminLTE2410/plugins/ztree/js/jquery.ztree.all.min.js" th:src="@{{path}/AdminLTE2410/plugins/ztree/js/jquery.ztree.all.min.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../lac/json2.js" th:src="@{{path}/lac/json2.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../lac/utils.js" th:src="@{{path}/lac/utils.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../lac/lac2.js" th:src="@{{path}/lac/lac2.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../lac/lac2Tab.js" th:src="@{{path}/lac/lac2Tab.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../lac/lac2Menu.js" th:src="@{{path}/lac/lac2Menu.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../lac/lac2FieldTree.js" th:src="@{{path}/lac/lac2FieldTree.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../lac/lac2Dialog.js" th:src="@{{path}/lac/lac2Dialog.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../lac/lac2DataTables.js" th:src="@{{path}/lac/lac2DataTables.js(path=${static_server},v=${static_res_version})}"></script>
<script>
	var dtable4App, curRow4App;

	$(function() {
		initDataTable4App();
		bindEvents4DataTable4App();
	});

	function bindEvents4DataTable4App() {
		/* 快速查询 */
		$(".btn-search-log").on("click", function() {
			$('.btn-super-search-log').removeClass('active');
			$('.superSearch').css('display','none');
			$("#f_app_search").search4DataTable(dtable4App);
		});
		
		$(".btn-search-log_s").on("click", function() {
			$("#f_app_search_s").search4DataTable(dtable4App);
		});
		
		$('.btn-super-search-log').on('click',function(){
			$('.btn-search-log').removeClass('active');
		        $(this).toggleClass('active');
		        if($(this).hasClass('active')){
		        	$("#f_app_search").hide();
		        	$(".btn-search-log").hide();
		        }else{
		        	$("#f_app_search").show();
		        	$(".btn-search-log").show();
		        }
		        $(this).parents('.find-tools').find('.superSearch').slideToggle('fast');
		    });

	}

	function initDataTable4App() {
		dtable4App = $('#dt_app').LacDTable(
						{
							order : [ [ 8, "desc" ] ],
							url : ctx + "/log/page",
							autoSequence : true,
							columns : [
									{
										"data" : "module",
										"defaultContent" : "",
										"width" : "90px"
									}, {
										"data" : "operateDesc",
										"defaultContent" : "",
										"width" : "50px"
									}, {
										"data" : "operateTime",
										"defaultContent" : "",
										"width" : "80px"
									}, {
										"data" : "operateResult",
										"width" : "40px",
										"render" : function(data, type, row) {
											if (data == 0) {
												return '<span class="badge bg-green">成功</span>';
											} else if (data == 1) {
												return '<span class="badge bg-yellow">失败</span>';
											} else {
												return "";
											}
										}
									}, {
										"data" : "costTime",
										"defaultContent" : "",
										"width" : "30px"
									}, {
										"data" : "ip",
										"defaultContent" : "",
										"width" : "50px"
									}, {
										"data" : "uuid",
										"visible" : false
									}, {
										"data" : "id",
										"visible" : false
									} ],
					
							initComplete : function(setting, json) {
								$(".btn-permed").permissionEnabled();
							},
							drawCallback : function(setting) {
								$(".btn-permed").permissionEnabled();
							}
						});

	}
</script>
</body>
</html>
