<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>日志详情查看</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="../../layuicms2.0/layui/css/layui.css" th:href="@{/layuicms2.0/layui/css/layui.css(path=${static_server},v=${static_res_version})}" media="all" />
	<link rel="stylesheet" href="../../layuicms2.0/css/public.css" th:href="@{/layuicms2.0/css/public.css(path=${static_server},v=${static_res_version})}" media="all" />
</head>
<body class="childrenBody">
<table class="layui-table" lay-even="" lay-skin="row">
  <colgroup>
    <col width="100">
    <col width="200">
    <col width="100">
    <col width="200">
  </colgroup>
  <tbody>
    <tr>
      <td align="right">操作时间:</td>
      <td th:text="${#dates.format(entity.operateTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
      <td align="right">TID:</td>
      <td th:text="${entity.tid}"></td>
    </tr>
    <tr>
      <td align="right">操作模块:</td>
      <td th:text="${entity.module}"></td>
      <td align="right">操作者:</td>
      <td th:text="${entity.operatorAccount}"></td>
    </tr>
    <tr>
      <td align="right">操作内容:</td>
      <td colspan="3" th:text="${entity.operateDesc}"></td>
    </tr>
    <tr th:switch="${entity.operateResult}">
      <td align="right">操作结果:</td>
      <td th:case="0">成功</td><td th:case="*" class="layui-bg-red">失败</td>
      <td align="right">花费时间(毫秒):</td>
      <td th:text="${entity.costTime}"></td>
    </tr>
    <tr th:if="${entity.operateResult!=0}">
      <td align="right">错误信息:</td>
      <td colspan="3" th:text="${entity.errorMessage}"></td>
    </tr>
    <tr>
      <td align="right">IP地址:</td>
      <td th:text="${entity.ip}"></td>
      <td align="right">URL地址:</td>
      <td th:text="${entity.url}"></td>
    </tr>
    
    <tr th:switch="${entity.mobile}">
      <td align="right">访问客户端:</td>
      <td colspan="3" th:case="true">移动设备:<span th:text="${mobileBrand}"></span></td><td colspan="3" th:case="*">个人电脑</td>
    </tr>
    <tr>
      <td align="right">操作系统:</td>
      <td th:text="${entity.os}"></td>
      <td align="right">操作系统版本:</td>
      <td th:text="${entity.osVersion}"></td>
    </tr>
    <tr>
      <td align="right">浏览器:</td>
      <td th:text="${entity.browser}"></td>
      <td align="right">浏览器版本:</td>
      <td th:text="${entity.browserVersion}"></td>
    </tr>
  </tbody>
</table>  
</body>
</html>